<!-- start main -->
<div class="what-is-medigap">
    <div class="row">
        <div class="small-12">
            <h3>What is Medigap Insurance?</h3>
            <hr>
            <p class="text-center">Medicare Supplement Insurance, or Medigap as it’s often called, can help pay some of the health care costs that Original Medicare does not cover,
                such as copayments, coinsurance, and deductibles. Medigap covers any gaps in coverage that would normally require you to pay out-of-pocket when Medicare falls
                short. Typically, Medicare will pay its share of the Medicare-approved amount for a service and then Medigap pays its share so that the expense is paid in full. A
                Medigap policy is particularly valuable for seniors that live on fixed budgets and need to limit their expenses.</p>
        </div>
    </div>
</div>
<!-- end main -->