<script src="//insurance.mediaalpha.com/js/serve.js"></script>
<?php
//$insurance_type = 'health';
$zip = $_GET['zip'];
if ($zip == "") {
    $zip = "33021";  // If cant have the ip then serve for zip = 33021
};
$uid = $_GET['uid'];

if ($_GET['inty'] == 'medicare') {
    echo '
<section style="margin-top:1em; max-width: 920px; margin: auto">
' . MediaAlpha_Thankyou_Medicare($zip, $uid) . '
</section>
';
} else {
echo '
<section style="margin-top:1em; max-width: 920px; margin: auto">
    ' . MediaAlpha_Thankyou_Health($zip, $uid) . '
</section>
';
}
?>