.intro {

  .intro-header {
    font-size: 22px;
    color: $primary-color;
    margin-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro-body {
    padding: 0 30px;
  }

}

p {
  color: #575757;
  letter-spacing: .2px;
  font-weight: normal;
}

a {
  text-decoration: underline;
  margin-bottom: 5px;
}