<div class="countdown-container">
    <div class="row">
        <div class="small-12 columns">
            <h3><span class="countdown-cta">Special Open Enrollment Period</span>
                <span class="countdown-cta-break">Get Your Free Medicare Quote Now until December 7th</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="center">
                <h3 class="countdown-actnow">Act Now Before Time Is Up!</h3>
                <div class="clock clock-medicare"></div>
            </div>
        </div>
    </div>
</div>
