<!-- start hero -->
<div class="hero">
    <div class="row">
        <div class="overlay"></div>
        <div class="small-12 medium-12 columns hero-content">

            <!-- start hero content  -->
            <div class="hero-callout">
                <h1 class="hero-header"><span class="hero-header-callout">Compare</span> Medicare Quotes</h1>
                <p class="hero-subheader">... in three simple steps.</p>
            </div>
            <ul class="hero-list">
                <li><img class="hero-list-circles-numbers" src="../../assets/img/circles-numbers-1.png" alt="1"> Fill out form</li>
                <li><img class="hero-list-circles-numbers" src="../../assets/img/circles-numbers-2.png" alt="2"> Compare Plans</li>
                <li><img class="hero-list-circles-numbers" src="../../assets/img/circles-numbers-3.png" alt="3"> Save Time & Money!</li>
            </ul><!-- end hero content -->

            <!-- start hero form-->
            <form action="form.php" id="form1" method="post" class="hero-zip-submit">
                <div class="row">
                    <div class="small-10 medium-5 columns">

                        {{> hidden-fields-lp}}
                        
                        <div class="input-group">
                            <input type="tel" class="input-group-field" id="hero-zip-submit-input" name="zip" pattern="\d{5}"  value="<?php echo $zip; ?>" placeholder="Enter your zip code...">
                            <div class="input-group-button">
                                <input type="submit" class="button" id="hero-zip-submit-button" value="Start Quote">
                            </div>
                        </div>

                    </div>
                </div>
            </form><!-- end hero form -->

            <!-- end hero content -->
        </div>
    </div>
</div>
<!-- end hero -->