<!-- start short form -->
<div id="short-form-enter-zip">
    <div class="column row">
        <h2 id="short-form-title">Find Medicare Plans that fit your needs!</h2>
        <form action="submit">
            <div class="row">
                <div class="small-4 small-centered columns">
                    <div class="input-group">
                        <label for="zip"></label>
                        <input class="input-group-field" type="number" id="zip">
                        <div class="input-group-button">
                            <input type="submit" class="button find-plans" value="Find Plans">
                            <!--<button class="button compare-plans">Compare Plans <i class="fi-play"></i></button>-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end short form -->