<div class="column row">
    <div class="small-12 medium-7 large-5 columns small-centered medium-centered">

        <div class="phone-zip-module">
            <div class="phone-module">
                <h5>Speak with an agent now</h5>
                <span><a class="module-phone-cta" href="tel:<?php echo $phone_number; ?>">
                    <img class="phone-icon" src="../../assets/img/icon-phone-orange.png" alt="phone icon"><?php echo $phone_number; ?></a>
                </span>

            </div>
            <hr>
            <div class="email-module">
                <h5>or compare plans online</h5>
                <button class="button compare-plans" onclick="document.getElementById('form1').submit();">Compare Plans <i class="fi-play"></i></button>
            </div>
        </div><!-- end module -->

    </div>
</div>