.health-icons-title,
.health-icons-link {
  color: $primary-color;
}

.health-icons-title {
  font-size: 16px;
}

.health-icons-info {
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
}

.medical-icons {
  width: 44px;
  padding-bottom: 20px;
}