/*CSS File For Sign-In webpage*/
#body-color {
    background-color: #b5cbcc;
}

#Sign-In {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 450px;
    border: 3px solid #a1a1a1;
    padding: 9px 35px;
    background: #b3cc92;
    width: 400px;
    border-radius: 10px;
    box-shadow: 7px 7px 6px;
}

#button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: #0581e8;
    font-weight: bold;
    font-size: 20px
}


#button2 {
    border-radius: 3px;
    width: 60px;
    height: 25px;
    background: #b3cc92;
    font-weight: bold;
    font-size: 12px
}

#rcorners6 {
    border-radius: 15px 50px;
    background: #8AC007;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#border {
    width: 400px;
    border: 2px solid;
    border-radius: 15px 50px;
    margin: 0px auto;
}

form {
    display: inline;
}

table, th, td {
    border: 1px solid black;
}

