.health-icons-title,
.health-icons-link {
  color: $primary-color;
}

.health-icons-title {
  font-size: 18px;
  /*max-width: 180px;*/
  /*padding-left: 15px;
  padding-right: 15px;*/
}

.health-icons-info {
  font-size: 13px;
  /*padding-left: 8px;
  padding-right: 8px;*/
}

.medical-icons {
  width: 44px;
  margin-bottom: 20px;
}