<!-- start carriers slider -->
<div class="carriers">
    <div class="row" id="carrier-logos">
        <div class="small-12 columns">
            <div class="owl-carousel">
                <div><img src="../../assets/img/carriers/bw/aetna.jpg" alt="aetna"></div>
                <div><img src="../../assets/img/carriers/bw/anthem.jpg" alt="anthem"></div>
                <div><img src="../../assets/img/carriers/bw/cigna.jpg" alt="cigna"></div>
                <div><img src="../../assets/img/carriers/bw/fidelity-life.jpg" alt="fidelity life"></div>
                <div><img src="../../assets/img/carriers/bw/health-net.jpg" alt="health net"></div>
                <div><img src="../../assets/img/carriers/bw/humana.jpg" alt="humana"></div>
                <div><img src="../../assets/img/carriers/bw/united-health-one.jpg" alt="united health one"></div>
            </div>
        </div>
    </div>
</div>
<!-- end carriers slider -->