<!-- start faqs -->
<div class="faqs">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>Common Questions</h3>
            <hr>
            <h4>What is Medicare Supplemental Insurance?</h4>
            <p>Medicare Supplement Insurance, or Medigap as it’s often called, can help pay some of the health care costs that Original Medicare does not cover, such as copayments,
                coinsurance, and deductibles. Medigap covers any gaps in coverage that would normally require you to pay out-of-pocket when Medicare falls short. Typically,
                Medicare will pay its share of the Medicare-approved amount for a service and then Medigap pays its share so that the expense is paid in full. A Medigap policy is
                particularly valuable for seniors that live on fixed budgets and need to limit their expenses.</p>
            <hr>
            <h4>Why do I need Medicare Supplemental Coverage?</h4>
            <p>Medicare Supplemental, or Medicare, coverage can help to cover costs that are not covered by Medicare, such as copays, deductibles, and coinsurance. Medigap coverage
                can protect your finances by paying expenses that you would be required to pay out of pocket.</p>
        </div>
    </div>
</div>
<!-- end faqs -->