<!-- start header -->
<header class="header">
    <div class="column row">

        <div class="small-6 medium-6 columns">
            <div class="logo-wrapper">
                <a href="index.php"><img class="logo" src="../../assets/img/logo.png" alt="logo"></a>
            </div>
        </div>
        <?php
        if (show_phone($offer_id, $aff_id)) {
            echo '
        <div class="small-6 medium-6 columns text-right">
            <div class="contact-number-wrapper">
                <p class="header-toll-free-cta">Speak to a Licensed Agent</p>
                <a class="header-toll-free-number hide-for-small-only" href="tel:'.$phone_number.'">'.$phone_number.'</a>
                <a href="tel:'.$phone_number.'"><img class="icon-mobile-phone" src="../../assets/img/icon-phone-blue.svg" alt="phone icon"></a>
            </div>
        </div>
        ';};?>

    </div>
</header>
<!-- end header -->
