<!-- start hero -->
<div class="hero">
    <div class="row">
        <div class="overlay"></div>
        <div class="small-12 medium-9 large-6 columns end hero-content">

            <?php
            if (show_phone($offer_id, $aff_id)) {
                echo '
            <div class="row">
                <div class="small-12 columns text-center hide-for-medium hide-for-large cta-call-agent-container">
                    <h4 class="cta-call-agent-text">Call For a Health Insurance Quote</h4>
                    <a href="tel:'.$phone_number.'" class="button success cta-call-agent-button"><i class="fi-mobile"></i>'.$phone_number.'</a>
                </div>
            </div>
                ';};?>

            <div class="row">
                <div class="small-12 columns hide-for-small-only">
                    <!-- start hero header  -->
                    <div class="hero-callout">
                        <h1 class="hero-header">Find Freedom with Free Health Insurance Quotes</h1>
                        <p class="hero-subheader">Fast | Simple | No Obligations</p>
                    </div>
                    <!-- end hero header -->
                </div>
            </div>

            <div class="row hero-form-wrapper">
                <div class="small-12 medium-10 medium-offset-1 columns end">

                    <h2 class="hero-form-header">Get A Free Quote</h2>
                    <form action="form.php" id="form1" method="post" class="hero-zip-submit-form text-center">

                        {{> hidden-fields-lp}}

                        <div class="row">
                            <div class="small-12 columns">
                                <div class="question">
                                    <p class="hero-form-labels">Type of Insurance?</p>
                                </div>
                                <div class="switch">
                                    <input id="health_type" class="cmn-toggle cmn-toggle-round-flat"
                                           value="medicare" name="insurance_type" type="checkbox">
                                    <label for="health_type"></label>
                                </div>
                            </div>
                        </div><!-- /row -->

                        <div class="row">
                            <div class="small-12 columns top-padding">
                                <p class="hero-form-labels">What is your Zip Code?</p>

                                <div class="input-group">
                                    <input type="tel" class="input-group-field" id="hero-zip-submit-input" name="zip"
                                           pattern="\d{5}" required value="<?php echo $zip; ?>"
                                           placeholder="Enter Your Zip..." title="Please enter a valid zip code">
                                    <div class="input-group-button">
                                        <input type="submit" class="button" id="hero-zip-submit-button"
                                               value="Start Quote">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- end hero -->