<!-- start short form -->
<div id="short-form-enter-zip">
    <div class="column row">
        <h2 id="short-form-title">Find Medicare Plans that fit your needs!</h2>
        <form action="form.php" method="post" class="short-form-zip-submit">
            <div class="row">
                <div class="small-12 medium-5 small-centered columns">
                    <div class="input-group">
                        <label for="zip"></label>
                        <input class="input-group-field" type="tel" id="zip" name="zip" value="<?php echo $zip; ?>" placeholder="Enter your zip code...">
                        <div class="input-group-button">
                            <input type="submit" id="submit" class="button find-plans" value="Find Plans" onclick="document.getElementById('form1').submit();">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end short form -->
