/* --------------------------------------------
custom form input styling
-------------------------------------------- */

input[type="text"],
input[type="select"],
input[type="number"],
input[type="tel"],
input[type="email"],
#state,
#request,
.custom-label,
select {
  height: rem-calc(48)!important;
  padding-left: rem-calc(15);
  border-radius: $global-radius;
  color: darken(#ecf0f6,60);

  &:invalid {
    background-color: lighten($alert-color, 40);
  }

  &:required:invalid {
    border-color: lighten($alert-color, 22);
  }

  &:required {
    border-color: darken($success-color, 3);
    border-width: 1px;
  }

  &:focus {
    background-color: lighten(#fff9b2, 5);
  }
}

/* -------------------------------------
keep it separate because of height and not required info
----------------------------------------- */

textarea {
  border-radius: $global-radius;
  padding-left: rem-calc(15);
  color: darken(#ecf0f6,60);
}


/* --------------------------
custom error messages
-------------------------- */

.error {
  line-height: 1.35em;
  color: #a94442;
  background-color: lighten($light-gray,10);
  border-color: #ebccd1;
  padding:5px 10px 5px 15px;
  border-radius: $global-radius;
}


/* --------------------------
 form
-------------------------- */

.ahiv2-form {

  @include breakpoint(small) {
    padding: rem-calc(10);
    background-color: darken($primary-color, 15);
  }
  @include breakpoint(medium) {
    padding: rem-calc(30);
    background-color: darken(#f6f8fd, 2);
  }

  .form-container {
    border-radius: $global-radius;
    border: 4px solid #d8e0e9;

    @include breakpoint(small) {
      background-color: $white;
      padding: rem-calc(10 30);
      margin-top: rem-calc(50);
    }
    @include breakpoint(medium) {
      background-color: $white;
      padding: rem-calc(15 50);
      margin-top: 0;
    }
  }

  .form-header {
    font-weight: 300;
    text-align: center;

    @include breakpoint(small) {
      font-size: 1.6em;
      line-height: 1.3em;
      padding-top: rem-calc(15);
    }

    @include breakpoint(medium) {
      font-size: 1.85em;
      line-height: 1.6em;
      padding-top: rem-calc(15);
    }

  }

  .form-info {
    font-weight: 300;
    text-align: center;
    color: $dark-gray;

    @include breakpoint(small) {
      font-size: .9em;
      line-height: 1.5em;
      padding: rem-calc(0 5 20 5);
    }
    @include breakpoint(medium) {
      font-size: 1em;
      line-height: 1.6em;
      padding: rem-calc(0 15 20 15);
    }

  }

  .conditions-container {
    padding-top: rem-calc(15);
  }

  ul.checklist {
    display: block;
  }

  li {
    display: block;
    list-style: none;
  }

  .terms {
    font-size: .75em;
    line-height: 1.6em;
    color: lighten($medium-gray,5);
  }

  #previous_conditions {
    margin-top: rem-calc(10);
  }

  label {
    font-weight: 400;
    text-transform: uppercase;
  }

  hr {

    @include breakpoint(small) {
      width: 100%;
      margin: rem-calc(15 0);
    }
    @include breakpoint(medium) {
      width: 100%;
    }

  }

  .button-submit-form {
    background-color: $secondary-color;
    margin-top: rem-calc(10);
    border-radius: $global-radius;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 10px rgba(255,102,66,0.3);
    font-weight: 400;

    @include breakpoint(small) {
      width: 100%;
      font-size: 1.2em;
    }

    &:hover {
      background-color: $primary-color;
      box-shadow: 0 6px 18px rgba(0,100,95,0.6);
    }

    .fi-play {
      font-size: 22px;
      padding-left: 5px;
    }

  }
}

