.get-insured-steps {
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  color: $white;
  text-align: center;
  background-color: $primary-color;

  @include breakpoint(small) {
    padding: rem-calc(5 0);
  }
  @include breakpoint(medium) {
    padding: rem-calc(15 0);
  }

  p {
    line-height: 2em;

    @include breakpoint(small) {
      padding: rem-calc(5 0);
    }
    @include breakpoint(medium) {
      padding: rem-calc(15 0 30 0);
    }

  }

  .get-insured-header {
    color: $white;

    @include breakpoint(small) {
      font-size: 1.65em;
      line-height: 1.5em;
    }
    @include breakpoint(medium) {
      font-size: 2em;
      line-height: 1.5em;
    }

  }

  hr {
    height: 1px;
    width: 15%;
    color: lighten($primary-color, 20);
    background-color: lighten($primary-color, 20);
    border: none;
  }

}




.step-numbers {
  background-color: $primary-color;
  color: $white;

  .large-numbers {
    position: relative;
    font-weight: 600;
    line-height: 1em;
    color: lighten($primary-color, 10);
    vertical-align: middle;
    letter-spacing: -2px;

    @include breakpoint(small) {
      display: block;
      text-align: center;
      font-size: 6em;
      margin-bottom: rem-calc(10);
      padding-top: rem-calc(10);
    }
    @include breakpoint(medium) {
      display: block;
      text-align: center;
      margin-bottom: 0;
      padding-top: rem-calc(0);
    }
    @include breakpoint(large) {
      display: inline-block;
      text-align: left;
      margin-bottom: 0;
      padding-top: rem-calc(0);
    }

  }

  .steps-info {
    position: relative;
    color: $white;
    font-weight: 400;
    vertical-align: middle;

    @include breakpoint(small) {
      font-size: 1.2em;
      line-height: 1.5em;
      display: block;
      text-align: center;
      margin-left: 0;
      margin-bottom: rem-calc(15);
    }
    @include breakpoint(medium) {
      font-size: 1.1em;
      line-height: 1.5em;
      display: block;
      text-align: center;
      margin-left: rem-calc(5);
      margin-bottom: 0;
    }
    @include breakpoint(large) {
      font-size: 1.1em;
      line-height: 1.5em;
      display: inline-block;
      text-align: left;
      margin-left: rem-calc(5);
      margin-bottom: 0;
    }

  }

}