/* --------------------------
hero
-------------------------- */

.hero-states {
  position: relative;
  z-index: 2;
  vertical-align: middle;

  @include breakpoint(small) {
    background: url('../img/hero-states.jpg') no-repeat center center;
    background-size: cover;
    height: 240px;
    padding-top: rem-calc(50);
  }

  @include breakpoint(medium) {
    background: url('../img/hero-states.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    padding-top: rem-calc(0);
  }

  @include breakpoint(large) {
    background: url('../img/hero-states.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    vertical-align: middle;

    @include breakpoint(small) {
      padding: rem-calc(15 30);
    }
    @include breakpoint(medium) {
      padding: rem-calc(20 0);
    }
    @include breakpoint(large) {
      padding: rem-calc(30 10);
    }

    .cta-call-agent-container {
      position: relative;
      vertical-align: middle;
      background-color: rgba(6, 35, 72, 0.7);
      border-radius: $global-radius;
      padding: rem-calc(8 15);
      margin-bottom: 10px;
    }

    .cta-call-agent-text {
      font-size: .9em;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: -1px;
      text-transform: uppercase;
      color: $white;
    }

    .cta-call-agent-button {
      font-size: 1.4em;
      font-weight: 900;
      line-height: 1.5em;
      vertical-align: middle;
      padding: rem-calc(5 30);
    }

    .fi-mobile {
      font-size: 1.5em;
      padding-right: 10px;
      vertical-align: middle;
    }

    .hero-callout {
      max-width: 560px;
    }

    .hero-form-wrapper {
      max-width: 560px;

      @include breakpoint(small) {
        padding-left: rem-calc(0);
      }
      @include breakpoint(medium) {
        padding-left: rem-calc(15);
      }
      vertical-align: middle;

    }

    .hero-header {
      text-align: left;
      font-weight: 300;
      vertical-align: middle;

      @include breakpoint(small) {
        font-size: 1.5em;
        line-height: 1.2em;
        margin-bottom: rem-calc(0);
        padding: rem-calc(20 0 5 0);
        color: $white;
      }

      @include breakpoint(medium) {
        font-size: 2.4em;
        line-height: 1.3em;
        color: darken($primary-color,3);
        padding: rem-calc(0 15 10 15);
        margin-bottom: rem-calc(0);
        margin-top: 50px;

      }

      @include breakpoint(large) {
        font-size: 2.6em;
        line-height: 1.3em;
        padding: rem-calc(0 0 15 0);
      }

    }

    .hero-subheader {
      font-weight: 300;
      line-height: 1em;
      padding-top: 20px;
      text-align: left;

      @include breakpoint(small) {
        font-size: 1.2em;
        line-height: 1.1em;
        margin-top: rem-calc(-10);
        color: $white;
      }
      @include breakpoint(medium) {
        font-size: 1.5em;
        line-height: 1.4em;
        color: darken($primary-color,3);
        margin-bottom: rem-calc(30);
        padding: rem-calc(15px 15 10 15);

      }
      @include breakpoint(large) {
        padding: rem-calc(15px 0 15 0);
      }
    }

  }

}

/* --------------------------
overlay
-------------------------- */

.overlay {
  @include breakpoint(small) {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken($primary-color, 20);
    opacity: .95;
  }

  @include breakpoint(medium) {
    opacity: 0;
  }

  @include breakpoint(large) {
    opacity: 0;
  }

}

/* --------------------------
button margin
-------------------------- */

.md-margin-top {
  margin-top:1.5rem;
}

/* --------------------------
overrides
-------------------------- */

.columns {
  @include breakpoint(small) {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(medium) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
