
/* --------------------------
layout - padding
-------------------------- */

.top-padding {
  padding-top: rem-calc(15);
}

.container {
  @include breakpoint(small) {
    padding: rem-calc(15 30);
  }
  @include breakpoint(medium) {
    padding: rem-calc(30 15);
  }
  @include breakpoint(large) {
    padding: rem-calc(40 0);
  }
}

.sm-padding {
  padding: rem-calc(15 0 5 0);
}



