


/* state names bullet arrows */

.states-container {
  margin-top: 30px;

  @include breakpoint(medium) {
    margin-top: 130px;
  }

ul {
  list-style: none;
}

  ul.big {
    list-style: none;
    font-size: 300%;
  }

  li::before {
    position: relative;
    top: 3pt;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid $primary-color;
    border-top: 0.2em solid $primary-color;
    transform: rotate(45deg);
    margin-right: 0.5em;
    vertical-align: super;
  }

  li:hover {
    color: $secondary-color; /* For the text */
  }

  li:hover::before {
    border-color: $secondary-color; /* For the arrow (which is a border) */
  }

  a:hover, a:focus {
    color: $secondary-color;
  }
}

.state-image {
  margin: 20px 20px 20px 0;
}


.states-side-menu {
  text-align: left;
  @include breakpoint(medium) {
    height: 450px;
    border-left: 0.5px solid #E0E0E1;
    padding-left: 20px;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    margin-bottom: 0;
  }

  .state-side-menu-agent {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1.7em;
  }
}


#breadcrumb a {
  color: #757575;
  text-decoration: underline;
}


.arrow-left {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right: 10px solid #1b45a6;
  margin-bottom: 25px;
}

.previous {
  padding-left: 30px;
  margin: -12px;
  text-decoration: underline;

}

.arrow-left:hover {
  border-right: 10px solid $secondary-color;

}