/* ------------------------------------
custom - radio buttons - big buttons
------------------------------------ */
label.custom-label {
  font-size: .95em;
  border-radius: 30px;
  border: 2px solid darken($light-gray, 2);
  width: 100%;

  margin-left: auto;

  @include breakpoint(small) {
    min-width: 100px;
  }
  @include breakpoint(medium) {
    min-width: 120px;
  }

}

/* hide input */
input.radio:empty {
  margin-left: -9999px;
  display: none;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 3em;
  color: darken($light-gray, 22);

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include breakpoint(small) {
    margin-top: .2em;
    margin-bottom: 1em;
    text-align: center;
  }
  @include breakpoint(medium) {
    margin-top: 1.85em;
    text-align: center;
  }

  &:hover {
    color: $primary-color;
  }

}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2em;
  background: $light-gray;
  border-radius: 30px 0 0 30px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  font-size: 1.2em;
  background: lighten($primary-color, 10);
  color: $white;
}

input.radio:hover:not(:checked) ~ label {
  color: $dark-gray;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  font-size: 1.3em;
  color: $white;
  background-color: darken($success-color, 10);
}

input.radio:checked ~ label {
  color: darken($success-color, 15);
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 1px darken($success-color, 22);
}