/* typography */

h1 {
	font-size: 44px;
	margin-bottom: 10px;
	text-shadow: 3px 3px 6px rgba(25,64,113,0.9);
	/*margin-top: -16px;*/
	padding-left: 0;
}

ul.free-quote-list {
	font-size: 20px;
	font-weight: 600;
	line-height: 46px;
	list-style: none;
	padding-top: 10px;
	text-shadow: 2px 2px 1px rgba(25,64,113,0.6);
	margin-left: 300px;
}

h2 {
	font-size: 30px;
	color: #2466A2;
}

h2.happy-clients {
	font-size: 34px;
	color: #ffffff;
	font-weight: 900;
	line-height: 46px;
}

span.call-800 h4 {
	font-size: 18px;
}

.call-800 {
	padding-top: 12px;
}

.speak-agent {
	font-size: 22px;
	margin-top: 15px;
}

.clients h4 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
}

.content-block .lead {
    font-size: 14px;
    line-height: 24px;
}

.p-y-lg {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.hero-leadbox .form-quote {
    padding: 30px 40px 30px;
    border-radius: 5px;
    box-shadow: 8px 8px 16px 0 rgba(8,76,160,0.3);
    background-color: #525e6c;
    background-color: rgba(8,76,160,0.9);
}

.overlay {
	background: rgba(42,57,84,0.2);
}

.lead {
	font-size: 24px;
	/*text-shadow: 2px 2px 4px #333333;*/
}

.navbar {
	padding: 10px;
}

.btn {
	white-space: normal
}

.btn-call {
	margin-top: 8px;
}

.btn-red {
  background-color: #ef1130;
}

.btn.btn-red {
	font-size: 20px;
	border: 3px solid #EA435A;
}

.hero-leadbox {
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.content-block .img-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.bg-blue {
	background-color: #066BB3;
}


.icon-phone:before {
    content: "\e900";
}

p.clients-subheader {
	font-size: 18px;
}

.p-t-md {
    padding-top: 30px !important;
}

.testimonials .quote-border {
    padding: 30px 20px 30px;

}

.glyphicon {
	padding: 0 10px;
}

.glyphicon-check {
	/*color: dodgerblue;*/
	font-size: 28px;
}

/* ==========================================================================
   15. CLIENTS SECTION
========================================================================== */



input[type=checkbox], input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.1); /* IE */
  -moz-transform: scale(1.1); /* FF */
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -o-transform: scale(1.1); /* Opera */
  	padding: 5px;
	margin: 0 4px 0 0;
}

label {
	vertical-align: middle;
}

.bg-light {
	background-color: #ffffff;
}


h4 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.enter-zip {
	margin-top: 10px;
	padding: 0 10px 0 10px;
}


.hero-leadbox h5 {
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 23px;
	display: inline-block;
	white-space: nowrap;
	margin-left: -5px;
}

.label-1 {
	font-size: 17px;
	font-weight: 400;
	padding: 5px 0 5px 0;
	display: inline-block;
	white-space: nowrap;
	padding-left: 20px;
}

.p-y {
	padding-top: 20px !important;
	padding-bottom: 0px !important;
}

.p-y-md {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.bg-dark {
	background-color: #414C58;
}


/* ==========================================================================
   MEDIA QUERIES
========================================================================== */

@media only screen and (max-width: 1200px)  {
	
	h1 {
		font-size: 44px;
		line-height: 48px;
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
	}
	
	h4 {
		font-size: 32px;
	}
	
	ul.free-quote-list {
		font-size: 22px;
		line-height: 46px;
		margin-top: 10;
		margin-left: 160px;
	}
	
	.hero-leadbox {
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
	}
	
	.hero-leadbox h5 {
		font-size: 15px;
	}
	
	.hero-leadbox .form-quote {
		margin-top: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.zip-label {
		font-size: 14px;
		margin-top: 10px;
	}
	
	.label-1 {
		font-size: 15px;
		padding-left: 10px;
	}
	
	.privacy-info {
		text-align: center;
		margin-top: 10px;
		display: inline-block;
	}

}

@media only screen and (max-width: 1199px)  {
	
	h4 {
		font-size: 28px;
	}
	
	.zip-field {
		max-width: 130px;
		margin-left: 10px;
	}

}


@media only screen and (max-width: 980px)  {
	
	h1 {
		font-size: 30px;
		line-height: 48px;
		margin-top: 6px;
		margin-left: 0;
		padding-left: 0;
	}
	
	h4 {
		font-size: 36px;
	}
	
	.hero-leadbox h5 {
		font-size: 24px;
	}

	ul.free-quote-list {
		font-size: 16px;
		line-height: 26px;
		margin-top: 10px;
		margin-left: 0;
	}
	
	.privacy-info {
		text-align: center;
    margin-top: 10px;
		display: inline-block;
	}

	ul.checklist {
		margin-left: -40px;
		width: 200px;
	}

}

@media only screen and (max-width: 768px)  {


}