.container {
    max-width: 840px;
}

.phone {
    font-size: 22px;
    color: #439fe0;
}

.speak-agent {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 300;
    color: #666666;
}

img.logo-b {
    width: 180px;
    height: 52px;
}

.agent {
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
}

.navbar {
    height: 50px;
    padding: 10px;
}

.glyphicon-phone {
    font-size: 26px;
    padding: 0;
}

/*form {
    position: relative;
}*/

/*------------------------------------------*/
/*  Red Buttons
/*------------------------------------------*/
.btn-red,
a.inverse.btn-red,
.inverse a.btn-red {
    background-color: #e74c3c;
}

.btn.btn-red {
    font-size: 18px;
    border: 3px solid #e74c3c;
}

.btn-red:hover,
.btn-nav.btn-red:hover,
.btn-red:focus,
.btn-nav.btn-red:focus {
    background-color: #db2b19;
    color: #fff;
}

.btn.btn-red:hover,
.btn.btn-red:focus {
    border: 3px solid #db2b19;
}

.btn-shadow.btn-red {
    -webkit-box-shadow: 0 4px 0 #ba463a;
    -moz-box-shadow: 0 4px 0 #ba463a;
    box-shadow: 0 4px 0 #ba463a;
}

.btn-border.btn-red,
a.btn-border.btn-red {
    color: #e74c3c;
}

.btn-red {
    background-color: #ef1130;
    color: #ffffff;
    /*margin-left: 15px;*/
}

.btn.btn-red {
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 5px 10px 20px;
    border: 3px solid #EA435A;
    width: 75%;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 25px;
}

.btn.btn-red:hover {
    /*border: 3px solid #EA435A;*/
    background-color: #c01027;
}

/* -----------
Typography
----------- */

label {
    font-size: 14px;
    color: azure;
    letter-spacing: 1px;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    /*color: #fff;*/
}

h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
}

p.intro {
    font-size: 14px;
    font-weight: 300 !important;
    letter-spacing: 1px;
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 0;
}

.terms {
    font-size: 12px;
    color: #666;
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 1100px;
    margin-left: 15px;
}

.privacy {
    font-size: 12px;
    line-height: 18px;
    color: #97a4b2;
    margin-top: 10px;
    background-color: #fff;
}

label.questions {
    width: 50%;
}

.form-header {
    padding-top: 0;
    margin-left: 20px;
}


.personal-info {
    padding-left: 0;
    padding-right: 0;
}

/* -----------
Layout
----------- */

.logo {
    position: relative;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.logo-background {
    position: absolute;
    z-index: 1;
    height: 115px;
    width: 95%;
    border-bottom: solid 1px #ccc;
    margin-left: 15px;
}

.navbar-brand {
    height: 30px;
    padding: 0;
}



.conditions-container {
    margin-bottom: 20px;
}

ul.checklist {
    margin-top: 20px;
}

ul.checklist li {
    margin-top: 8px;
}

li {
    list-style: none;
    white-space: nowrap;
    margin-left: 15px;
}

.health-conditions-list {
    width: auto;
}

/* -----------
Forms
----------- */

.personal-form {
    background-color: #fff;
    padding: 20px 0 10px 0;
    margin-right: 30px;
}

.form-container {
    position: relative;
    background-color: #fff;
    border: 1px solid #1b75bc;
    margin-top: 10px;
}

label {
    position: relative;
    color: #000;
    display: inline-block;
    font-weight: normal !important;
    text-align: left;
    vertical-align: text-top
}

label.expand-label {
    width: 140px;
}

label.questions {
    width: 50%;
    white-space: nowrap;
    margin-top: 5px;
}

label#weight-label {
    vertical-align: middle;
}

input {
    position: relative;
    padding: 15px;
    width: 50%;
    margin-bottom: 20px;
    color: #666666;
    font-weight: 300;
}

/* CUSTOM WIDTH FIELDS START */

input#weight {
    width: 25%;
}

/* CUSTOM WIDTH FIELDS END */

select {
    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    /*height: 34px;*/
    padding: 5px;
    /*border-bottom: 1px solid #ccc;*/
    background-color: #fff;
}

select#state,
select#gender,
select#household-size {
    width: 30%;
}

select {
    height: 34px;
}

select#income {
    width: 50%;
}

select#state,
#zip {
    width: 50%;
}

select#heightfeet,
select#heightinches {
    width: 25%;
    display: inline-block;
}

select#DateOfBirth_Day,
select#DateOfBirth_Month {
    width: 18%;
}

select#DateOfBirth_Year {
    width: 24%;
}

option {
    padding: 5px;
    color: #777;
}

/* -----------
remove input type number arrows on desktop
----------- */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* -----------
target specific input types ----------- */

.radio-inline input[type=radio] {
    margin-left: -24px;
}

/* moves the tooltip position */
input#lb_conditions,
input#lb_conditions2,
input#field_smoker,
input#field_smoker2,
input#lb_insured,
input#lb_insured2,
input#medications,
input#medications2 {
    margin-top: 20px !important;
    margin-left: 10px !important;
}

/* -----------
spacer serving as hr
----------- */

.spacer {
    position: relative;
    height: 10px;

    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    background: repeat-x;
    margin-left: 15px;
    max-width: 96%;
}

.start-personal {
    margin-bottom: 20px;
}

.medications-phones {
    padding-bottom: 20px;
}


/* -----------
Footer
----------- */

.footer {
    background-color: #fff;
    font-size: 11px;
    text-align: center;
    color: #888;
    line-height: 16px;
}

.glyphicon {
    font-size: 28px;
    margin-right: 0px;
    vertical-align: top;
    margin-top: 0;
}

.modal {
    /*position: absolute;*/
    z-index: 9999;
}

.footer p, .footer a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}

.modal-body-copy {
    /*padding: 5px 15px;*/
    text-align: left;
}

/* ----------------------------
   START FORM HACKS - REUSABLE
------------------------------- */

/* rounded corners */

input,
select {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    display: inline;
    padding: 6px;
    border-color: #ffffff;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

/* hide spinner */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* start replace radios using spans - css hack */
/* this only works by using spans after the radio */

/* HTML5 Boilerplate accessible hidden styles - hides radio buttons */
[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* One radio button per line */
label {
    display: inline-block;
    cursor: pointer;
    line-height: 1.3;
    font-size: 1em;
}

[type="radio"] + span {
    display: inline-block;
    /*vertical-align: middle;*/
    margin-top: 5px;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
    content: '';
    background-color: #fff;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.25em;
    border-radius: 1em;
    /*border: 0.125em solid #fff;*/
    box-shadow: 0 0 0 0.15em #fff;
    margin-right: 0.75em;
    transition: 0.5s ease all;
    border: 1px solid #ccc;
}

/* color of updated radio buttons */
/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
    content: '';
    background: #ffb976;
    box-shadow: 0 0 0 0.15em #fff;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
    /*content: '\0020\2190';*/
    font-size: 1em;
    line-height: 1;
    vertical-align: -0.125em;
}

.form-group {
    margin-bottom: 0;
}

.medical-history {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

/* end resize radios */

.modal {
    z-index: 9999;
}

.modal-title {
    font-size: 28px;
    color: #1b76cb;
    margin-top: 10px;
    text-align: left;
    padding-left: 15px;
}

/*.modal-content {
    padding: 15px;
}*/

.modal-header {
    padding: 5px 5px 0 0;
}

.modal-body {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #666;
    text-align: left;
}

.modal-body-privacy {
    /*margin-left: 15px;*/
}

h5.modal-intro-header {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    padding-left: 15px;
}

h5.modal-intro-header-terms {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    /*padding-left: 15px;*/
}

.modal-subheader {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.btn.btn-close-modal {
    font-size: 15px;
    background-color: #0E51A2;
    color: #ffffff;
    padding: 10px 60px 10px 60px;
}

.btn.btn-close-modal:hover {
    background-color: red;
}

.health-list-padding {
    margin-right: 30px;
}

.conditions-checklist-holder {
    margin-bottom: 10px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    margin-right: 5px;
}


/*[type="radio"] + span {
    padding-right: 20px;
    margin-left: -20px;
}*/


input, select {
    border: 1px solid #ccc;
    /*height: 44px;*/
}


/* -----------
Media Queries
----------- */

@media screen and (max-width: 1199px) {

    input {
        width: 100%;
        margin-bottom: 10px;
    }

    input#email,
    input#weight {
        width: 100%;
    }

    label.questions {
        white-space: pre-wrap;
    }

    label.birthday {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    select {
        margin-bottom: 5px;
        /*max-width: 90%;*/
    }

    label.height {
        display: block;
        width: 100%;
    }

    .radio-inline input[type=radio] {
        vertical-align: top;
        /* margin-left: 20px; */

        -moz-margin-left: 15px;
        -webkit-margin-left: 15px;
        -ms-margin-left: 15px;
        -o-margin-left: 15px;
    }

    select {
        width: 100%;
    }

    select#heightfeet,
    select#heightinches {
        width: 45%;
        display: inline-block;
    }

    select#heightinches {
        margin-left: 10px;
    }

    select#state,
    select#gender,
    select#household-size,
    select#income {
        width: 100%;
    }

    #zip {
        width: 100%;
    }

    select#DateOfBirth_Day,
    select#DateOfBirth_Month {
        width: 20%;
    }

    select#DateOfBirth_Year {
        width: 48%;
    }

    .btn {
        width: 96%;
        margin-top: 1px;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .terms {
        /* margin-top: 15px;*/
    }

    .btn.btn-red {
        width: 90%;
        margin-left: 5px;
        margin-bottom: 25px;
    }

    .medical-history {
        margin-top: 10px;
        margin-bottom: 0;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.2); /* IE */
        -moz-transform: scale(1.2); /* FF */
        -webkit-transform: scale(1.2); /* Safari and Chrome */
        -o-transform: scale(1.2); /* Opera */
        margin-right: 5px;
    }
}







@media screen and (max-width: 990px) {

    .btn.btn-red {
        width: 95%;
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 25px;
    }
}











@media screen and (max-width: 768px) {

    label.questions {
        width: 100%;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    input {
        margin-bottom: 5px;
    }

    label.birthday {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    input#day,
    input#month {
        width: 25%;
        display: inline-block;
    }

    input#year {
        width: 40%;
        display: inline-block;
    }

    .personal-form {
        padding: 10px 15px 10px 0;
        margin: 0;
    }

    .form-container {
        margin-top: 10px;
    }

    label#weight-label,
    label.birthday {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 20px;
        line-height: 32px;
        font-weight: 700;
    }

    .form-header {
        padding-top: 10px;
        margin-left: 10px;
    }

    .logo {
        margin-top: -20px;
    }

    .logo-background {
        height: 95px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    p.intro {
        font-size: 15px;
        margin: 5px 0;
        letter-spacing: normal;
    }

    .footer {
        /*height: 80px;*/
    }

    select#DateOfBirth_Day,
    select#DateOfBirth_Month {
        width: 25%;
        display: inline-block;
    }

    select#DateOfBirth_Year {
        width: 48%;
        display: inline-block;
    }

    .btn-red {
        width: 90%;
        margin-left: 0;
    }

    .personal-info {
        padding-left: 0;
        padding-right: 0;
    }

    .privacy {
        font-size: 10px;
    }

    .btn.btn-red {
        width: 92%;
    }

    .medical-history {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.2); /* IE */
        -moz-transform: scale(1.2); /* FF */
        -webkit-transform: scale(1.2); /* Safari and Chrome */
        -o-transform: scale(1.2); /* Opera */
        margin-right: 5px;
    }

}

@media screen and (max-width: 480px) {

    select#DateOfBirth_Day,
    select#DateOfBirth_Month {
        width: 22%;
        display: inline-block;
    }

    select#DateOfBirth_Year {
        width: 50%;
        display: inline-block;
    }

    .phone {
        font-size: 20px;
    }

    .glyphicon {
        font-size: 18px;
        margin-top: 5px;
        margin-right: 0;
    }

    img.logo-b {
        width: 140px;
        height: 41px;
        margin-top: 3px;
    }

    a.phone {
        font-size: 18px;
        margin-right: 0;
        padding-right: 0;
    }

    .glyphicon-phone {
        padding: 0;
    }

    .navbar {
        min-height: 20px;
        height: 30px;
        padding: 0;
    }

    .medical-history {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn.btn-red {
        width: 92%;
    }

    .speak-agent {
        padding: 0;
    }

    .personal-form {
        padding: 5px 0 5px 0;
        margin: 0;
    }

    .medical-history {
        margin-bottom: 20px;
    }

    .terms-container {
        margin-top: 5px;
    }

    select#DateOfBirth_Year {
        width: 53%;
    }

    .footer {
        /*height: 60px;*/
    }

    .footer p, .footer a {
        font-size: 12px;
        line-height: 18px;
    }

    .privacy {
        margin-bottom: 10px;
    }

    .terms {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .modal-title {
        font-size: 24px;
        padding-left: 10px;
    }

    .modal-header {
        padding: 5px 5px 0 0;
    }

    .modal-body {
        font-size: 12px;
        line-height: 16px;
        padding-top: 5px;
    }

    .modal-dialog {
        max-width: 100%;
        margin-right: 25px;
    }

    .label-questions {
        width: 50%;
    }

}

@media screen and (max-width: 480px) {

    .footer p, .footer a {
        font-size: 11px;
        line-height: 16px;
    }

    h2, .h2  {
        font-size: 22px;
        line-height: 28px;
        margin-top: 10px;
    }

    p.intro {
        font-size: 14px;
        margin: 5px 0;
        letter-spacing: normal;
    }

}







/* -----------
HACKS might be useful later on
chrome/chromium font - select input rendering issues

@font-face {
  font-family: "Helvetica Neue";
  src: local('Open Sans');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Open Sans');
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-weight: 700;
  src: local('Open Sans');
}
----------- */