/* --------------------------
hero form zip submit
-------------------------- */

input [type='text'] {
  color: $medium-gray !important;
}

.hero-zip-submit-form {
  position: relative;
  z-index: 10;
  background-color: $primary-color;
  color: $white;

  @include breakpoint(small) {
    margin-top: rem-calc(0);
    padding: rem-calc(20 30);
  }

  @include breakpoint(medium) {
    margin-top: rem-calc(0);
    padding: rem-calc(30);
  }

  label {
    color: $white;
  }

}

.insurance-type {
  margin-bottom: rem-calc(15);

  @include breakpoint(small) {
    padding: 0;
  }

  @include breakpoint(medium) {
    padding: 0 40px 0 40px;
  }

}

.hero-form-header {
  font-weight: 700;
  color: $white;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  background-color: darken($primary-color,15);
  margin-bottom: 0;

  @include breakpoint(small) {
    font-size: 1.8em;
    line-height: 1.3em;
    padding: rem-calc(15 0);
  }

  @include breakpoint(medium) {
    font-size: 2.1em;
    line-height: 1.3em;
    padding: rem-calc(15 0);
  }

}

.hero-form-labels {
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint(small) {
    font-size: 1em;
    line-height: .7em;
  }

  @include breakpoint(medium) {
    font-size: 1em;
    line-height: .7em;
  }

}

#hero-zip-submit-input {
  position: relative;
  display: inline-block;
  text-align: left;
  padding-left: rem-calc(15);
  border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
  border: 1px solid lighten($primary-color,20);

  @include breakpoint(small) {
    font-size: 1.1em;
    width: 100%;
    height: 60px !important;
  }

  @include breakpoint(medium) {
    font-size: 1.25em;
    width: 100%;
  }

}

#hero-zip-submit-button {
  position: relative;
  display: inline-block;
  font-weight: 600;
  background-color: $secondary-color;
  border-radius: $global-radius/2;
  -moz-border-radius: $global-radius/2;
  -webkit-border-radius: $global-radius/2;

  @include breakpoint(small) {
    font-size: 1em;
    margin-left: rem-calc(-125);
    padding: rem-calc(15 10);
  }
  @include breakpoint(medium) {
    font-size: 1.1em;
    margin-left: rem-calc(-178);
    padding: rem-calc(15 30);
  }

  &:hover {
    background-color: $success-color;
  }

}






/* ============================================================
  COMMON - dont need this any more
============================================================ */

/*.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}*/

/*
.settings .question {
  font-size: 20px;
}
*/



/* ============================================================
  COMMON - need for hero insurance switch sizing
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* ============================================================
  SWITCH 2 - ROUND FLAT - HERO ZIP SUBMIT WIK
============================================================ */

input.cmn-toggle-round-flat + label {
  padding: rem-calc(10);
  width: 99%;
  height: 60px;
  background-color: lighten($primary-color,15);
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  -ms-border-radius: $global-radius;
  -o-border-radius: $global-radius;
  border-radius: $global-radius;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  margin-left: 0;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
  font-size: 1.25em;
  font-weight: 400;
  padding-top: 6px;
}

input.cmn-toggle-round-flat + label:after {
  content: "Health"; /* simon */
}

input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  padding: rem-calc(10);
  background-color: darken($primary-color,18);
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  -ms-border-radius: $global-radius;
  -o-border-radius: $global-radius;
  border-radius: $global-radius;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 6px;
  left: 6px;
  bottom: 6px;
  width: 49%;
  background-color: lighten($primary-color,15);
  -webkit-border-radius: $global-radius/2;
  -moz-border-radius: $global-radius/2;
  -ms-border-radius: $global-radius/2;
  -o-border-radius: $global-radius/2;
  border-radius: $global-radius/2;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: lighten($primary-color, 10);
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 48%;
  background-color: $success-color;
  content: "Medicare"; /* simon */

  @include breakpoint(small) {
    margin-left: 47%;
  }

  @include breakpoint(medium) {
    margin-left: 48%;
  }

}
















/* ============================================================
  EVERYTHING BELOW CAN BE DELETED
============================================================ */




/*.health-insurance-type-wrapper {
  background-color: darken($primary-color,18);
  border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
  border: 1px solid lighten($primary-color,20);
  padding: rem-calc(10);

  .button-health-insurance-type {
    font-size: 1em;
    border-radius: $global-radius/2;
    -moz-border-radius: $global-radius/2;
    -webkit-border-radius: $global-radius/2;
    width: 100%;
  }

}*/




/* ============================================================
  SWITCH 1 - ROUND - NOT USING
============================================================ */
/*input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}*/




/* ============================================================
  SWITCH 3 - YES NO - NOT USING
============================================================ */
/*input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 120px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}*/







/* todo remove me later - css for insurance type switch code */
/* todo - simon lacey */

/*.test, .well {
  width: 12%;
  margin-top: 5%;
  margin-left: 5%;
}
.switch, .switch-button {
  border-radius: 100px;
}
.switch label[for="x"] {
  text-indent: 10px;
}
.switch label[for="x1"] {
  padding-right: 15px;
}*/
