<!-- start carriers slider -->
<div class="carriers">
    <div class="row" id="carrier-logos">
        <div class="small-12 medium-12 columns">
            <div class="owl-carousel">
                <div><img src="../../assets/img/carriers/aetna.jpg" alt="aetna"></div>
                <div><img src="../../assets/img/carriers/anthem.jpg" alt="anthem"></div>
                <div><img src="../../assets/img/carriers/cigna.jpg" alt="cigna"></div>
                <div><img src="../../assets/img/carriers/aarp.jpg" alt="aarp"></div>
                <div><img src="../../assets/img/carriers/health-net.jpg" alt="health net"></div>
                <div><img src="../../assets/img/carriers/humana.jpg" alt="humana"></div>
                <div><img src="../../assets/img/carriers/united-health-one.jpg" alt="united health care medicare solutions"></div>
            </div>
        </div>
    </div>
</div>
<!-- end carriers slider -->