<!-- start faqs -->
<div class="faqs">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>Common Questions</h3>
            <hr>
            <h4>When is the best time to purchase a Medicare Supplement policy? </h4>
            <p>The best time to purchase a Medicare Supplement policy is during your 6-month Medigap open enrollment period. Purchasing it during this time will allow you to buy any plan offered in your state. The period automatically starts the month you turn 65 and enrolled in Medicare Part B. If you fail to buy Medigap coverage during this 6-month period, you may not be able to purchase it or it may end up costing you more. </p>
            <hr>
            <h4>Why do I need Medicare Supplemental coverage? </h4>
            <p>Medicare Supplemental, or Medicare, coverage can help to cover costs that are not covered by Medicare, such as copays, deductibles, and coinsurance. Medigap coverage
                can protect your finances by paying expenses that you would be required to pay out of pocket.</p>
        </div>
    </div>
</div>
<!-- end faqs -->