<!-- start header -->
<header class="header">
    <div class="column row">

        <div class="small-6 medium-6 columns">
            <div class="logo-wrapper">
                <img class="logo" src="../../assets/img/logo.jpg" alt="logo">
            </div>
        </div>

        <div class="small-6 medium-6 columns text-right">
            <div class="contact-number-wrapper">
                <p class="header-toll-free-cta">Call Now to Speak to a Licensed Agent</p>
                <a class="header-toll-free-number hide-for-small-only" href="tel:<?php echo $phone_number; ?>"><?php echo $phone_number; ?></a>
                <a href="tel:<?php echo $phone_number; ?>"><img class="icon-mobile-phone" src="../../assets/img/icon-phone-blue.svg" alt="phone icon"></a>
            </div>
        </div>

    </div>
</header>
<!-- end header -->
