<div class="columns row">
    <div class="small-12">
        <h5 class="modal-header">Please read these terms and conditions of use before using this site.</h5>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <p>The {{ web }} website (“{{ web }}” or the “Site”) is owned and operated by {{ web }}. By using this Site, you signify your assent to these Terms of Use (“Terms” or
            “Agreement”). If you do not agree to all of these Terms, do not use this site.
            <br><br>
            BY ACCESSING OR USING ANY PART OF THE SITE, YOU AGREE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THIS AGREEMENT. IF YOU DO NOT AGREE TO BE SO BOUND, DO NOT
            ACCESS OR USE THE SITE.
            PLEASE READ THESE TERMS CAREFULLY.<strong> THEY CONTAIN A MANDATORY ARBITRATION PROVISION AND CLASS ACTION WAIVER.</strong>
            <br><br>
            {{ web }} may revise and update these Terms at any time. Your continued usage of the Site will mean you accept those changes. <br><br>

            <span class="lead">Use of the Website</span>
            By using the Site, you represent to {{ web }} that 1) you are authorized to enter into this Agreement and you are at least the age of majority in your state or province
            of residence;
            (2) you will not use the Site for any purpose or in any manner that violates any law or regulation or that infringes the rights of {{ web }} or any third party; (3) any
            information
            or data provided to {{ web }} by you will not violate any law or regulation or infringe the rights of {{ web }} or any third party; (4) all information that you
            provide to us in connection with the Site (e.g., name, e-mail address, and other information) is true and accurate; and (5) you are authorized and able to fulfill and
            perform the obligations and
            meet the conditions of a user as specified herein. This Agreement provides to you a personal, revocable, limited, non-exclusive, royalty-free, non-sublicenseable,
            non-transferable license to use
            the Site conditioned on your continued compliance with the Terms of this Agreement. You may print and download materials and information from the Site solely for your
            personal use, provided that all hard copies contain all copyright and other applicable notices contained in such materials and information. Notwithstanding the
            foregoing, you may not modify, translate, decompile, create derivative work(s) of, copy, distribute, disassemble, broadcast, transmit, publish, remove or alter any
            proprietary notices or labels, license, sublicense, transfer, sell, mirror, frame, exploit, rent, lease, private label, grant a security interest in, or otherwise use
            the Website in any manner not expressly permitted herein. Specifically, and by way of illustration and not limitation, you may not (a) separate and use any graphics,
            photographs, or other audio, visual, or video elements from the accompanying text or material without the prior express written permission of {{ web }} and/or its
            licensor(s); (b) use any “deep link,” “page scrape,” “robot,” “spider,” or other device, program, script, algorithm, or methodology to access, acquire, copy, or monitor
            any portion of the Site or in any way reproduce or circumvent the navigational structure of the Site to obtain or attempt to obtain any materials, documents, or
            information through any means not purposely made available through the Site; (c) probe, scan, or test the vulnerability of the Site or any network connected to the
            Site; (d) use any device, software, or routine to interfere with the proper working of the Site or any transaction conducted on the Site; (e) forge headers, impersonate
            a person, or otherwise manipulate identifiers in order to disguise your identity or the origin of any message or transmittal you send to {{ web }} on or through the
            Site; (f) use the Site to harvest or collect e-mail addresses or other contact information; or (g) use the Site in a manner that could damage, disparage, or otherwise
            negatively impact {{ web }}. The licenses granted by {{ web }} terminate if you do not comply with these Terms. <br><br>

            The material, images, and text on the Site (“Content”) is protected by copyright under both United States and foreign laws. Title to the Content remains with {{ web }}
            or its
            licensors. Any use of the Content not expressly permitted by these Terms and Conditions is a breach of this Agreement and may violate copyright, trademark, and other
            laws. Content and features are
            subject to change or termination without notice in the editorial discretion of {{ web }}. All rights not expressly granted herein are reserved to {{ web }} and its
            licensors. If you violate any of these Terms, your permission to use the Content automatically terminates and you must immediately destroy any copies you have made of
            any portion of the Content.
            <br><br>

            <span class="lead">PRIVACY</span>
            Please review our Privacy Policy to understand our practices regarding personal information provided by you, which is incorporated herein by reference. <br><br>

            <span class="lead">Limitation of Liability and Disclaimer of Warranties</span>
            The use of the Site and the Content is at your own risk. When using the Site, information will be transmitted over a medium that may be beyond the control and
            jurisdiction of
            {{ web }} and its suppliers. Accordingly, {{ web }} assumes no liability for or relating to the delay, failure, interruption, or corruption of any data or other
            information transmitted in connection with use of the Site. The Site and the content are provided on an “as is” and “as available” basis and may include errors,
            omissions, or other inaccuracies.
            MOREOVER, {{ web }} MAY MAKE MODIFICATIONS ANY/OR CHANGES ON THIS SITE OR IN THE MATERIALS AND INFORMATION AVAILABLE ON THIS SITE AT ANY TIME AND FOR ANY REASON.
            {{ web }} MAKES NO REPRESENTATIONS, GUARANTEES, OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE SUITABILITY, COMPLETENESS, TIMELINESS, RELIABILITY, LEGALITY,
            OR ACCURACY OF
            THE {{ web }} SERVICES OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS, OR OTHER SERVICES, OR INCLUDED ON OR OTHERWISE MADE AVAILABLE ON THE SITE. YOU EXPRESSLY AGREE
            THAT YOUR USE OF THE SITE IS AT YOUR OWN RISK. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, {{ web }} DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING
            BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR PARTICULAR PURPOSE. {{ web }} DOES NOT WARRANT THAT THE INFORMATION,
            CONTENT, MATERIALS, PRODUCTS OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE, {{ web }}’s SERVERS, OR ELECTRONIC COMMUNICATIONS SENT
            FROM {{ web }} ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. {{ web }} ALSO MAKES NO REPRESENTATION, GUARANTEE, OR WARRANTY THAT THIS WEBSITE WILL OPERATE ERROR FREE
            OR IN AN UNINTERRUPTED FASHION. <br><br>

            To the maximum extent permitted by law, in no event shall {{ web }}, its licensors, its suppliers, or any third parties mentioned on the Site be liable for any damages
            (including, without limitation, indirect, punitive, special, incidental, or consequential damages, personal injury/wrongful death, lost profits, or damages resulting
            from lost data or business interruption) resulting from the use of or inability to use the Site or the Content, the delay or inability to use the Site, or from any
            information, Content, materials, or {{ web }} services included on or otherwise made available to you through the Site, whether based in contract, tort, strict
            liability, or otherwise, and whether or not {{ web }}, its licensors, its suppliers, or any third parties mentioned on the Site have been advised of the possibility of
            such damages {{ web }}, its licensors, its suppliers, or any third parties mentioned on the Site shall be liable only to the extent of actual damages incurred by you,
            not to exceed U.S. $100. Any claims arising in connection with your use of the Site or any Content must be brought within one (1) year of the date of the event giving
            rise to such action occurred. <br><br>

            <span class="lead">User Submissions</span>
            You agree that you will not upload or transmit any communications or content of any type to the Site that infringe or violate any rights of any party. By submitting
            communications or content to the Site, you agree that such submission is non-confidential for all purposes. If you make any submission to the Site or if you submit any
            business information, idea, concept or invention to {{ web }} by email, you automatically grant-or warrant that the owner of such content or intellectual property has
            expressly granted {{ web }} a royalty-free, perpetual, irrevocable, sublicensable world-wide nonexclusive license to use, reproduce, create derivative works from,
            modify, publish, edit, translate, distribute, perform, and display the communication or content in any media or medium, or any form, format, or forum now known or
            hereafter developed. If you wish to keep any business information, ideas, concepts or inventions private or proprietary, do not submit them to the Site or to {{ web }}
            by email.<br><br>

            <span class="lead">Advertisements, Searches, and Links to Other Sites</span>
            {{ web }} may provide links to third-party websites. {{ web }} also may select certain websites as priority responses to search terms you enter and
            {{ web }} may agree to allow advertisers to respond to certain search terms with advertisements or sponsored content. obamacareusa.org does not endorse the content on
            any third-party websites. {{ web }} is not responsible for the content of linked third-party sites, sites framed within the Site, third-party websites provided as
            search results, or third-party advertisements, and does not make any representations regarding their content or accuracy. Your use of third-party websites is at your
            own risk and subject to the terms and conditions of use and privacy policies for such websites. <br><br>

            <span class="lead">ELECTRONIC COMMUNICATIONS</span>
            When you use the Site, or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
            communicate with you by e-mail or by posting notices on or through the Site. You agree that all agreements, notices, disclosures and other communications that we
            provide to you electronically satisfy any legal requirement that such communications be in writing. <br><br>

            <span class="lead">MODIFICATIONS</span>
            We reserve the right at any time to modify or discontinue the Site (or any part or content thereof) without notice at any time. {{ web }} may add, modify, or delete any
            aspect, program, or feature of the Site. We shall not be liable to you or to any third party for any modification, suspension, or discontinuance of the Site. <br><br>

            <span class="lead">Data We Collect</span>
            <strong>Governing Law</strong><br>
            These Terms are governed by the laws of the State of Florida, without respect to its conflict of laws principles. <br><br>

            <span class="lead">ARBITRATION</span>
            All disputes arising out of or relating to any purchase you make with via this Site, any information you provide via the Site, these Terms (including the formation,
            performance or alleged breach), and your use of the Site will be exclusively resolved under confidential binding arbitration in accordance with the Rules of the
            American Arbitration Association (“AAA”), including the AAA’s Supplementary Procedures for Consumer-Related Disputes (collectively, the “AAA Rules”) then in effect at
            the time of the dispute. <br><br>

            The AAA Rules are available at www.adr.org or by calling 1-800-778-7879. If you initiate arbitration, {{ web }} will promptly reimburse you for any standard filing fee
            which may have been required under AAA Rules once you have notified {{ web }} in writing and provided a copy of the arbitration proceedings. However, if {{ web }} is
            the prevailing party in the arbitration, applicable law may allow the arbitrator to award attorneys’ fees and costs to {{ web }}. If for any reason the AAA is
            unavailable, the parties shall mutually select another arbitration forum. The arbitration will be conducted in the city of Hollywood, Florida, but may proceed
            telephonically if the claimant so chooses. <br><br>

            The arbitrator’s award will be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no
            arbitration under these Terms may be joined to an arbitration involving any other party subject to these Terms, whether through class arbitration proceedings or
            otherwise. Notwithstanding the foregoing, we will have the right to seek injunctive or other equitable relief in state or federal court located to enforce these Terms
            or prevent an infringement of a third party’s rights. In the event equitable relief is sought, each party hereby irrevocably submits to the personal jurisdiction of
            such court. <br><br>

            <span class="lead">WAIVER OF CLASS ACTION RIGHTS</span>
            ANY DISPUTES ARISING OUT OF OR RELATING TO YOUR USE OF THIS SITE, ANY INFORMATION YOU PROVIDE VIA THE SITE, THESE TERMS (INCLUDING THEIR FORMATION, PERFORMANCE OR
            ALLEGED BREACH), AND YOUR USE OF THE SITE SHALL BE SUBMITTED INDIVIDUALLY BY YOU, AND SHALL NOT BE SUBJECT TO ANY CLASS ACTION OR REPRESENTATIVE STATUS. BY ENTERING
            INTO THIS AGREEMENT, YOU HEREBY IRREVOCABLY WAIVE ANY RIGHT YOU MAY HAVE TO JOIN CLAIMS WITH THOSE OF OTHERS or participate as a member of a class of claimants with
            respect to any claim submitted to arbitration. The parties to this arbitration agreement acknowledge that this class action waiver is material and essential to the
            arbitration of any disputes between the parties and is nonseverable from the agreement to arbitrate claims. If any portion of this class action waiver is limited,
            voided, or cannot be enforced, then the parties\' agreement to arbitrate shall be null and void. YOU UNDERSTAND THAT BY AGREEING TO THIS CLASS ACTION WAIVER, YOU MAY
            ONLY BRING CLAIMS AGAINST {{ web }} IN AN INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING.
            <br><br>

            <span class="lead">Notice and Take Down Procedures; Copyright Agent</span>
            If you believe any materials accessible on or from the Site infringe your copyright, you may request removal of those materials (or access thereto) from this web site
            by contacting {{ web }}’s copyright agent (identified below) and providing the following information: <br><br>


            1. Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (e.g., URL) of
            an authorized version of the work.<br>
            2. A description, in reasonable detail (including the applicable URL) of the material that you believe to be infringing and its location. Please provide us with enough
            information that will allow us to locate the material.<br>
            3. Your name, address, telephone number and (if available) e-mail address.<br>
            4. A statement that you have a good faith belief that the complained-of use of the materials is not authorized by the copyright owner, its agent, or the law.<br>
            5. A statement by you, made under the penalty of perjury, that the information that you have supplied is accurate, and indicating that you are the copyright owner or
            are authorized to act on the copyright owner’s behalf.<br>
            6. A signature or the electronic equivalent from the copyright holder or authorized representative.

            <br><br>
            Please send this notice to: <br><br>
            Attn: Health Insurance Services Legal<br>
            2 Oakwood Blvd., Suite 100<br>
            Hollywood, Florida 33020<br>
            Email: privacy@{{ domain }}<br><br>

            <span class="lead">Complete Agreement</span>
            Except as expressly provided in a particular “legal notice” on the Site or via e-mail from {{ web }}, this Agreement and the {{ web }} Privacy Policy constitute the
            entire agreement between you and {{ web }} with respect to the use of the Site and Content. <br><br>
            If any provision of this Agreement is found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of
            the remaining provisions of this Agreement, which shall remain in full force and effect. No waiver of any of these Terms shall be deemed a further or continuing waiver
            of such term or condition or any other term or condition. <br><br>
            &copy; 2016 {{ web }}, All rights reserved.

        </p>
    </div>
    <div class="small-12">
        <a class="button large close-modal" data-close>Close Modal</a>
    </div>
</div>