body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #69696E;
	line-height: 1.5em;
}

h1 {
	font-size: 2.2em;
	font-weight: 700;
	text-align: left;
	color: #2466A2;
	margin-top: 0;
}

.carrier-includes {
	font-size: 1.15em;
	font-weight: normal;
	text-align: left;
	color: #69696E;
}

.brand {
	padding: 15px 0 0 0;
}

.btn-close-carriers {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 70%;
	padding: 10px 15px;
	margin: 10px 15px;
}


.footer {
	position: relative;;
}

ul {
	line-height: 1.5em;
	letter-spacing: .2px;
}
