<row class="medical-icons-block">
    <columns small="12" large="4">
        <spacer size="30"></spacer>
        <center>
            <img class="medical-icons" src="http://www.medigapquote.org/email/v1/assets/img/icon-medicare-1.png" alt="medicare-1">
            <spacer size="5"></spacer>
            <h5 class="health-icons-title text-center">Medicare Supplement Plans</h5>
            <!--<p class="health-icons-info text-center">Help pay for “gaps” in Original Medicare. Include minimal standard coverages. Offer different enhanced coverages. Approved by each state they are offered.</p>
            <spacer size="10"></spacer>
            <a class="health-icons-link text-center" href="http://www.medigapquote.org">Learn More</a>-->
        </center>
    </columns>
    <columns small="12" large="4">
        <spacer size="30"></spacer>
        <center>
            <img class="medical-icons" src="http://www.medigapquote.org/email/v1/assets/img/icon-medicare-2.png" alt="medicare-2">
            <spacer size="5"></spacer>
            <h5 class="health-icons-title text-center">Medicare Supplement Plans</h5>
            <!--<p class="health-icons-info text-center">Help pay for “gaps” in Original Medicare. Include minimal standard coverages. Offer different enhanced coverages. Approved by each state they are offered.</p>
            <spacer size="10"></spacer>
            <a class="health-icons-link text-center" href="http://www.medigapquote.org">Learn More</a>-->
        </center>
    </columns>
    <columns small="12" large="4">
        <spacer size="30"></spacer>
        <center>
            <img class="medical-icons" src="http://www.medigapquote.org/email/v1/assets/img/icon-medicare-3.png" alt="medicare-3">
            <spacer size="5"></spacer>
            <h5 class="health-icons-title text-center">Medicare Supplement Plans</h5>
            <!--<p class="health-icons-info text-center">Help pay for “gaps” in Original Medicare. Include minimal standard coverages. Offer different enhanced coverages. Approved by each state they are offered.</p>
            <spacer size="10"></spacer>
            <a class="health-icons-link text-center" href="http://www.medigapquote.org">Learn More</a>-->
        </center>
    </columns>
</row>

<spacer size="15"></spacer>
