.body-getquote-cta-info {
  text-align: right;
  line-height: 16px;

  @media only screen and (max-width: #{$global-breakpoint}) {
    text-align: center;
  }

}

.get-quote-cta-button {
  padding-left: 15px;
  padding-right: 15px;
}