/* --------------------------
header
-------------------------- */

.header {
  position: relative;
  z-index: 9999;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;

  @include breakpoint(small) {
    padding: rem-calc(5 0);
    box-shadow: none;
  }
  @include breakpoint(medium) {
    padding: rem-calc(10 0);
    box-shadow: 1px 1px 6px #cfd9ea;
  }

  .logo-wrapper {
    @include breakpoint(small) {
      width: 160px;
      height: auto;
    }
    @include breakpoint(medium) {
      width: 220px;
      height: auto;
    }
  }

  .logo {
    padding: rem-calc(5 0 0 0);
  }

  .icon-mobile-phone {
    position: relative;
    display: inline-block;
    line-height: 14px;

    @include breakpoint(small) {
      margin-left: rem-calc(0);
      margin-top: rem-calc(-5);
      width: 36px;
      height: 36px;
    }

    @include breakpoint(medium) {
      margin-left: rem-calc(5);
      margin-top: rem-calc(-12);
      width: 32px;
      height: 32px;
    }

  }

  .header-toll-free-cta {
    position: relative;
    font-size: .75em;
    font-weight: 400;
    line-height: 8px;
    text-transform: uppercase;
    letter-spacing: normal;

    @include breakpoint (small) {
      display: none;
    }
    @include breakpoint (medium) {
      display: block;
    }

  }

  .header-toll-free-number {
    position: relative;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 18px;
    color: $primary-color;
  }

  .contact-number-wrapper {
    padding: rem-calc(10 0 0 0);
  }

}
