#short-form-enter-zip {
  background: url('../img/short-form-bkgd.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;

  @include breakpoint(small) {
    padding: rem-calc(20 20);
  }
  @include breakpoint(medium) {
    padding: rem-calc(30 0);
  }

  input#zip {
    border-radius: $global-radius;
    font-size: 1.15em;
    width: 105%;
  }

  input#zip, input.find-plans {
    height: 48px;
  }

  input.find-plans {
    padding: rem-calc(10 15);
  }

}

h2#short-form-title {
  font-weight: 700;
  text-align: center;
  color: $white;
  @include breakpoint(small) {
    font-size: 1.6em;
    line-height: 1.3em;
  }
  @include breakpoint(medium) {
    font-size: 2.2em;
    line-height: 1.5em;
  }
}

.find-plans {
  position: relative;
  background-color: $secondary-color;
  top: 0;

  @include breakpoint(small) {
    font-size: 1em;
    width: 110%;
    left: -10px;
  }
  @include breakpoint(medium) {
    font-size: 1.1em;
    width: 130%;
    left: -30px;
  }

  &:hover {
    background-color: darken($success-color, 15);
  }
}