<!-- start article 1 -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-12 columns">
                    <p class="body-content sm-padding">Today’s health insurance landscape can be challenging.
                        Fortunately, there are many affordable health insurance options available to you, regardless of
                        your situation.<br><br>
                        Short-Term Health Insurance provides you with insurance on a temporary basis to protect against
                        unexpected illness or accident. Short-term is less expensive then permanent, long-term health
                        insurance. Coverage runs from 30 days up to two years, depending on your state. Usually there is
                        no waiting period for coverage to start, and in most cases you can be covered by the next day.
                        Short-term policies can have low, affordable premiums and can help bridge gaps in your health
                        care coverage and guard against catastrophic events. Without it, you could be facing very large
                        medical bills.</p>
                </div>
            </div>

            <div class="row sm-padding">
                <div class="small-12 medium-12 large-5 columns">
                    <img class="body-list-image-left sm-img" src="{{root}}../assets/img/body-doc-img.jpg"
                         alt="phone icon">
                </div>
                <div class="small-12 medium-12 large-7 columns body-list-right-side">
                    <p class="list-header">Short-term health insurance is ideal for:</p>
                    <ul class="main-list">
                        <li>Individuals that are unemployed or between jobs</li>
                        <li>Those waiting on open enrollment for permanent insurance under the Affordable Care Act</li>
                        <li>Early retirees — prior to age 65 (Medicare enrollment age)</li>
                        <li>Young adults no longer covered under a parent’s health insurance</li>
                        <li>Those going on an extended vacation overseas</li>
                    </ul>
                </div>
            </div>

            <div class="row container">
                <div class="small-12 columns">
                    <p class="body-content sm-padding"><strong>Major Medical Plans</strong> are effective in covering
                        serious illness or injury where costs are high. These plans provide comprehensive coverage that
                        covers hospital care, medications and doctors’ visits. There are several types of plans (HMOs,
                        PPOs, Indemnity plans) that provide this coverage, each with unique features and benefits.</p>
                    <ul>
                        <li>Indemnity plans – these major medical plans typically have a deductible — what you pay
                            before the insurance company begins paying benefits. Benefits are paid, usually at 90%, once
                            services exceed the deductible amount.
                        </li>
                        <li>Preferred Provider Organization (PPO) Plans —usually allow you to seek care from a doctor or
                            hospital that is out-of-network, but you will probably have to pay a higher deductible or
                            co-payment.
                        </li>
                        <li>Health Maintenance Organization (HMO) Plans — on these plans you choose a primary care
                            physician (PCP) from a list of network providers. Your PCP then is responsible for managing
                            all of your health care. You will need a referral from this PCP if you need services from
                            in-network specialists and facilities. You must receive care from a network provider in
                            order to have your claim paid through the HMO. Treatment received outside the network is
                            usually not covered, or covered at a significantly reduced level.
                        </li>
                    </ul>
                    <h5><strong>Subsidized vs. Non-subsidized Health Care</strong></h5>
                    <p class="body-content sm-padding">
                        <strong>Subsidized</strong> – you get help paying medical expenses, either from an employer or
                        state or federal government program. This could be in the way of tax credits or reduced premiums
                        to lower health insurance costs.
                        <strong>Non-subsidized</strong> – you, not an employer or government program, are responsible
                        for premiums and health expenses. You receive no reimbursement for any part of the plan’s costs.
                    </p>
                </div>
            </div>

            <div class="row sm-padding" style="font-weight: 400">
                <div class="small-12 medium-10 medium-offset-1 columns">
                    <p class="body-content">Consult a licensed insurance professional to learn more about ways you can
                        lower your health insurance costs and get a plan that works for you.</p> <input type="submit" form="form1" onclick="" id="submit2" value="Get Your Quotes" class="secondary button body-content-button">  </div></div></div></div></article>