<!-- first article -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Protecting your health and wallet has never been easier or more
                affordable</h3>
            <hr>
            <p class="text-center body-content md-padding">Getting the right coverage for you and your family, with the
                features, benefits, and low rates you want has never been easier or more affordable.<br><br>
                The federal marketplace is an easy way for Americans to purchase quality subsidized health insurance.
                The marketplace gives you the ability to compare competitively priced health plans to find the best deal
                for you and your family. And if you qualify based on your annual income, you could receive cost
                assistance through the marketplace, reducing your overall health insurance costs. The federal
                marketplace is the only way you can apply for premium health care tax credits.<br><br> No one can be
                denied coverage on the marketplace for health related reasons. Under the Affordable Care Act, health
                insurance premiums are no longer based on pre-existing conditions, health status, claims history,
                duration of coverage, gender, and occupation.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container" style="font-weight: 400">
        <div class="small-12 columns">
            <h3>Health Insurance is too important to go without</h3>
            <hr>
            <p class="text-center body-content md-padding">While many people think of health insurance as something you
                can only use when you are sick, it is much, much more than that. Health insurance can help you maintain
                your health and prevent serious illnesses or conditions. By taking advantage of routine preventative and
                wellness screenings provided by your insurance under Obamacare, you can avoid illness from occurring, or
                with early detection limit the severity. Insurance can provide you with routine care that helps you
                manage existing conditions better. So you see, having health insurance can help to improve the quality
                of your life.<br><br>
                Health insurance provides important financial protection should you have a serious accident or illness.
                Solid, quality health insurance helps limit your out-of-pocket expenses, helping you save a lot of
                money. And given the climbing cost of health care and prescription drugs these days, you really can’t
                afford to be without health insurance. No one knows when illness or injury will strike and being
                uninsured could seriously impact both your health and finances.<br><br>
                Today, medical care is very expensive. Consider this: according the U.S. government, a broken leg can
                cost up to $7,500 to repair; the average cost of a 3-day hospital stay is around $30,000; and,
                comprehensive cancer care can cost tens of thousands of dollars, if not much, much more. Without
                insurance, you would be responsible for these expenses with your care. Unfortunately, expensive medical
                bills often lead people into deep personal debt or even bankruptcy — in fact, medical expenses are the
                number one cause of bankruptcy in the U.S.!</p> <input type="submit" form="form1" onclick="" id="submit2" value="Get Your Quotes" sclass="secondary button body-content-button">  </div></div></article>