<!-- start article 1 -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container" style="font-weight: 400">
        <div class="small-12 columns">
            <div class="small-12 columns">
                <h3 class="body-content-header">Obamacare</h3>
                <hr>
                <p class="body-content">Americans are required to have health insurance or face possible penalties under
                    the Affordable Care Act, or Obamacare, as many refer to it. And while not without controversy, there
                    are important provisions under the law that have had a positive impact on changing health insurance
                    in this country.<br><br>
                    <span class="body-content-header">Here are a few:</span><br><br>
                    <strong>Affordable Insurance for Millions of Previously Uninsured,</strong><br>helping countless
                    individuals manage their health and protect their health and finances if and when unexpected illness
                    or injury strikes.<br><br>
                    <strong>Preventative Care is Covered</strong><br>and plans are required to provide preventative and
                    wellness screenings as a proactive approach to health management. Routine screenings for blood
                    pressure, cancer, and diabetes are now covered, as are many more tests and services for women and
                    children.<br><br>
                    <strong>No pre-existing conditions</strong><br>can prevent you from obtaining insurance, and
                    insurance companies cannot deny procedures or demand repayment of expenses associated with treatment
                    because of a pre-existing condition. Additionally, insurance companies are prevented from raising
                    your insurance premium because you have or get an illness or condition. Nor can insurance companies
                    cancel your insurance plan because you or your employer unknowingly made a mistake on health
                    insurance enrollment forms, as was the case in years past.<br><br>
                    <strong>No annual or lifetime coverage limits</strong><br>means insurance companies can no longer
                    limit the amount they will pay towards medical costs each year or over the lifetime of the insured
                    person. This was not always the case, and insurers often used caps to reduce coverage.<br><br>
                    <strong>Children can stay on their parent’s plan longer,</strong><br>up to age 26 now. Previously,
                    older children could be forced off their parents’ plans, leaving them without health insurance
                    coverage and possible exposed to health risks and the high costs of both routine and emergency
                    healthcare. Today, many parents and their children are facing a better future, less stress and fear
                    filled over concerns about their health.<br><br>
                    <strong>Federal subsidies to help or reduce health insurance costs,</strong><br>such as premiums,
                    co-pays, and out-of-pocket expenses, for those that meet income requirements.</p> <input type="submit" form="form1" onclick="" id="submit2" value="Get Your Quotes" class="secondary button body-content-button">  </div></div></div></article>