<!-- start main -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container" style="font-weight: 400">
        <div class="small-12 columns">
            <h3>Do you qualify for an Obamacare subsidy?</h3>
            <hr>
            <p class="text-center body-content md-padding">Under Obamacare, the federal government offers subsidies to
                help offset or reduce the costs of health insurance. These subsidies are given based on income and can
                help reduce health insurance premiums, co-pays, and the out-of-pocket maximum spent for healthcare
                services.<br><br>

                <strong>WHO IS ELIGIBLE FOR A SUBSIDY?</strong><br>
                If you are unemployed, self-employed, or work for a company that does not provide affordable health
                benefits, you are eligible for subsidized health benefits through the federal insurance exchanges or
                marketplace.<br><br>

                If “affordable” comprehensive insurance is offered through your employer, you are not eligible for a
                federal subsidy. Your health insurance is a pre-tax benefit and your employer is contributing to your
                premium; in effect, it is viewed as a subsidy.<br><br>

                <strong>HOW DO SUBSIDIES WORK?</strong><br>
                Subsidies are available to individuals and families earning up to 400% of the federal poverty level per
                year. If your income meets this criteria, you will be eligible to purchase health insurance through the
                federal marketplace and obtain subsidies that may be applied to your monthly insurance premiums, making
                coverage more affordable.<br><br>

                There are also cost-sharing subsidies available that will further help you save by reducing the portion
                of claims you have to pay. You could qualify for these cost-sharing subsidies if your income falls below
                250 percent of the federal poverty level (for 2016, that is $29,425 for a single person and $60,625 for
                a family of four). Cost-sharing subsidies are built into Silver plans available on federal exchanges or
                marketplace.<br><br>

                Subsidies are tied to the cost of the second-least expensive plan, the Silver plan, in your area. Silver
                plans must cover the ten “essential” benefits required by the Affordable Care Act. These plans must also
                offer preventative care, and you cannot be denied coverage or charged more based on a pre-existing
                condition. Silver plans pay roughly 70 percent of enrollee’s expected healthcare costs.<br><br>

                <strong>HEALTH INSURANCE DOESN’T HAVE TO BE EXPENSIVE.</strong><br>
                A health insurance professional can help you navigate and understand what can be a confusing and
                intimidating process and determine if you qualify for federal subsidies. The bottom line is that there
                are ways you can cut the cost of health insurance and your health care.</p><input type="submit" form="form1" onclick="" id="submit" value="Get Your Quotes" class="secondary button body-content-button md-padding"/></div></div></article>