<!-- start main -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container" style="font-weight: 400">
        <div class="small-12 columns">
            <h3>Save On Coverage</h3>
            <hr>
            <p class="text-center body-content md-padding">Americans are paying a larger share of their medical costs so
                we’re all interested in finding ways that we can save some money.<br><br>
                <span class="">Here are a few things you can do to try to save on your health coverage:</span><br><br>
                <strong>See if you qualify for federal tax credits or subsidies.</strong><br>Federal tax credits
                (“subsidies”) can lower your monthly premiums or the cost sharing reduction can lower the portion of
                medical expenses you are responsible for. These are determined by your income level and family
                situation. You may also qualify for no cost or low cost government sponsored coverage through Medicaid
                or the Children’s Health Insurance Program (CHIP).<br><br>
                <strong>Compare health insurance quotes — shop around.</strong><br>Insurance rates vary from company to
                company, as do coverage features.<br><br>
                <strong>Assess your health needs.</strong><br>Determine if you require medical attention frequently or
                very sporadically. If you go to the doctor a lot or need a lot of medications, a lower deductible/higher
                premium plan is probably a better option for you. Conversely, if you go to the doctor very infrequently,
                then a high deductible/lower premium is your best bet. The right choice can save you money.<br><br>
                <strong>Choose a HMO.</strong><br>If you’re buying your own health insurance, you have the choice
                between an HMO or PPO. PPOs allow you to choose which doctors you see, regardless whether they’re in
                network or not. But you’re paying for that freedom. By going with a HMO, you’ll have to use the plan’s
                doctors and you’ll need a referral for specialist, but you’ll save money in the end.<br><br>
                If you have a health plan through your employer, there are a couple of ways you can squeeze savings from
                your health plan.<br><br>
                <strong>Get a discount or bonus with health-care incentives,</strong><br>such as biometric screenings or
                non-tobacco use.<br><br>
                <strong>Carry over $500 in a Flexible Spending Account (FSA) to next year,</strong><br>if your
                employer’s plan allows. Your contributions are made pre-tax, which saves you money.<br><br>
                <strong>Put away money in a Health Savings Account (HAS) for now, or later,</strong><br>if you have a
                high-deductible health plan. You can carry over any unused balances of those pre-tax contributions to
                next year. You can even take it with you should you change jobs.<br><br>
                As you can see, a little time spent researching your options and learning what’s available to you can go
                a long way to helping reducing your health insurance costs.</p>
             <input type="submit" form="form1" onclick="" id="submit2" value="Get Your Quotes" class="secondary button body-content-button">  </div></div></article>