<!-- start article 1 -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container">
        <div class="small-12 columns">
            <p class="body-content">Medical care and prescription drug costs are climbing and there’s little chance
                that’s going to stop anytime soon. So while we may not have any ability to control those things, we do
                have wayswe can lower our share of those costs and the impact they have on our finances.</p>
            <hr>

            <div class="row sm-padding">
                <div class="small-12 columns">
                    <h4>Here are few ways you reduce what you pay for health insurance:</h4>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 columns content-block">
                    <p class="content-in-block">You may qualify for federal subsidies that can help reduce premiums,
                        co-pays, coinsurance, and deductibles.</p>
                </div>
                <div class="small-12 medium-4 columns content-block">
                    <p class="content-in-block">You or your child may qualify for free or low-cost coverage through
                        Medicaid or the Children’s Health Insurance Program (CHIP).</p>
                </div>
                <div class="small-12 medium-4 columns end content-block">
                    <p class="content-in-block">If you’re under 26 you may be able to stay on your parent’s health
                        insuranceplan.</p>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 columns content-block content-block-last">
                    <p class="content-in-block">If you’re under 30, you may be able to purchase a ‘catastrophic’
                        coverage plan with a high deductible, low premium plan.Catastrophic plans are the cheapest plan
                        that
                        qualifies as minimal essential coverage. These plans cover emergencies, which, if you’re a
                        healthy individual, is all you may need.</p>
                </div>
                <div class="small-12 medium-6 columns end content-block content-block-last">
                    <p class="content-in-block">If you own a small business with fewer than 25 employees, you may
                        qualify for the small
                        business health care tax credit.</p>
                </div>
            </div>
            <hr>

            <div class="row sm-padding" style="font-weight: 400">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <p class="body-content">Consult a licensed insurance professional to learn more about ways you can
                        lower your health insurance costs and get a plan that works for you.</p><input type="submit" form="form1" onclick="" id="submit2" value="Get Your Quotes" class="secondary button body-content-button">  </div></div></div></div></article>