<!-- start article 1 -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h4>Health Insurance is Too Important to Go Without.</h4>
                    <hr>
                    <p class="sm-padding">Most people are interested in saving money when possible. It’s no different
                        when it comes to health insurance and health care. We want the best available but we don’t
                        necessarily want, nor can we afford, high rates on our health insurance or expensive medical
                        care.<br><br>
                        Medical care and prescription drug costs are climbing and there’s little chance that’s going to
                        stop anytime soon. So while we may not have any ability to control those things, we do have ways
                        we can lower our share of those costs and the impact they have on our finances.</p>
                </div>
            </div>
            <div class="row container">
                <div class="small-12 medium-12 large-5 columns">
                    <img class="body-list-image-left" src="{{root}}../assets/img/body-doc-img.jpg" alt="phone icon">
                </div>
                <div class="small-12 medium-12 large-7 columns body-list-right-side">
                    <p class="list-header">Here are few ways you reduce what you pay for health insurance:</p>
                    <ul class="main-list">
                        <li>You’re losing or recently lost your health coverage through a life event
                            <ul>
                                <li>You lost your job, you lost your employer-sponsored health insurance, you got a
                                    divorce or are getting divorced, your COBRA coverage expired, you’re no longer
                                    eligible for Medicaid or CHIP, or your current health plan was decertified
                                </li>
                            </ul>
                        </li>
                        <li>You’re having or adopting a child, or placing a child up for adoption</li>
                        <li>You’re getting married (or just got married)</li>
                        <li>You’re moving to another part of the state or country and your insurance is not available
                            there
                        </li>
                        <li>You were unable to enroll due to some error when enrolling</li>
                        <li>You’re graduating from college and losing your school’s health plan</li>
                        <li>You’ve had a change in income or household status that changes your eligibility for tax
                            credits or subsidies
                        </li>
                        <li>You became a legal U.S. resident or citizen</li>
                    </ul>
                </div>
            </div>
            <div class="row" style="font-weight: 400">
                <div class="small-12 medium-10 medium-offset-1 columns">
                    <p class="body-content">Consult a licensed insurance professional to learn more about ways you can
                        lower your health
                        insurance costs and get a plan that works for you.</p>
                     <input type="submit" form="form1" onclick="" id="submit2" value="Get Your Quotes" class="secondary button body-content-button">  </div></div></div></div></article>

