<!-- start main -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container" style="font-weight: 400">
        <div class="small-12 columns">
            <h4>Looking for a solution to your short-term insurance needs?</h4>
            <hr>
            <p class="text-center body-content md-padding">Short-term health insurance provides you with insurance on a
                temporary or short-term basis to help guard against the cost of unexpected illness or injury.<br><br>
                Short-term plans are less expensive than ‘permanent’ or ‘long-term’ health insurance plans and are more
                flexible. You can get coverage from 30 days to 180 days. In some states, you can get coverage up to 364
                days. There are no special enrollment periods — you can enroll at any time of the year. And these plans
                offer deductible and co-pay options to choose from.<br><br>
                If you’re between jobs, or waiting for your employer-sponsored health insurance to begin, or between
                open enrollment periods, short-term insurance can provide the peace of mind and financial protection
                you’re looking for and need.</p>
             <input type="submit" form="form1" onclick="" id="submit2"  value="Get Your Quotes" class="secondary button body-content-button">  </div></div></article>