<!-- start main -->
<article class="first">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding">Health Insurance is Too Important to Go Without.</h3>
            <hr>
            <p class="text-center body-content md-padding">Get the right care coverage for you and your family with the
                features, benefits and low rates you want. We will help you find a personalized health plan by working
                with you to determine your needs and then finding the plan that best fits your budget and meets your
                needs. We partner with the nation’s leading insurance carriers to offer health plans that provide
                exceptional coverage, protection and value at affordable prices. After all, you don’t want to sacrifice
                quality for cost or compromise on coverage. We make insurance easy, quick, and painless because we
                believe health insurance should not be complicated or intimidating.</p><input type="submit" form="form1" onclick="" id="submit" value="See Plans" class="secondary button body-content-button md-padding"/></div></div></article>
<article class="secondary">
    <div class="row container" style="font-weight: 400">
        <div class="small-12 columns">
            <h3>Obamacare requires you to get insured.</h3>
            <h5>After all, having health insurance is the smart move.</h5>
            <hr>
            <p class="text-center body-content md-padding">Under the Affordable Care Act, or Obamacare, Americans are
                required to either have health insurance or face penalties.<br><br>
                These days, having health insurance is a necessity, not a luxury. Whether you look at it as way to avoid
                possible tax penalties, or better yet, as a way to protect both your health and your finances, having
                health insurance is the smart move.<br><br>
                Health care and prescription drug costs are continuing to rise, and there’s little likelihood that trend
                will stop anytime soon. And when you consider that a broken leg will cost around $7,500 to repair or
                that the average cost of a three-day hospital stay will run you about $30,000, you can see the value and
                importance of health insurance. Would you want to have to pay these amounts out of your own pocket? If
                you’re like most people, the answer is most likely NO.<br><br>
                While Obamacare requires you to have health insurance, there’s a bit of latitude about how you get it.
                You can purchase it through a broker, direct from a provider, get it through your employer, obtain it
                through Medicare or Medicaid if you qualify, or buy it through the federal and state exchanges or
                marketplace.<br><br>
                Depending on your income and personal circumstances, you may qualify for federal subsidies that help
                lower your premiums or out-of-pocket share of healthcare expenses. If you’re under the age of 26, you
                can stay on your parent’s plan — and if you’re unable to stay on their plan, you may get a marketplace
                plan for around $100 after subsidies.<br><br>
                So not only is health insurance the smart move, it’s affordable and easy to get. A licensed health
                insurance professional can provide the assistance you need to get the coverage you want and
                need.<br><br></p> <input type="submit" form="form1" onclick="" id="submit2"  value="Get Your Quotes" class="secondary button body-content-button">  </div></div></article>