<div class="row container-states hide-for-small-only">
    <div class="small-12 columns">
        <h3 class="body-content-header md-padding text-center states-header">Health Insurance Coverage by State</h3>
        <hr>

    <div class="states-list-container">
        <div class="row">
            <div class="small-6 medium-4 large-4 columns">
                <ul>
                    <li><a href="../coverage-by-states/alabama.php">Alabama</a></li>
                    <li><a href="../coverage-by-states/alaska.php">Alaska</a></li>
                    <li><a href="../coverage-by-states/arizona.php">Arizona</a></li>
                    <li><a href="../coverage-by-states/arkansas.php">Arkansas</a></li>
                    <li><a href="../coverage-by-states/california.php">California</a></li>
                    <li><a href="../coverage-by-states/colorado.php">Colorado</a></li>
                    <li><a href="../coverage-by-states/connecticut.php">Connecticut</a></li>
                    <li><a href="../coverage-by-states/delaware.php">Delaware</a></li>
                    <li><a href="../coverage-by-states/florida.php">Florida</a></li>
                    <li><a href="../coverage-by-states/georgia.php">Georgia</a></li>
                    <li><a href="../coverage-by-states/hawaii.php">Hawaii</a></li>
                    <li><a href="../coverage-by-states/idaho.php">Idaho</a></li>
                    <li><a href="../coverage-by-states/illinois.php">Illinois</a></li>
                    <li><a href="../coverage-by-states/indiana.php">Indiana</a></li>
                    <li><a href="../coverage-by-states/iowa.php">Iowa</a></li>
                    <li><a href="../coverage-by-states/kansas.php">Kansas</a></li>
                    <li><a href="../coverage-by-states/kentucky.php">Kentucky</a></li>
                </ul>
            </div>

            <div class="small-6 medium-4 large-4 columns">
                <ul>
                    <li><a href="../coverage-by-states/louisiana.php">Louisiana</a></li>
                    <li><a href="../coverage-by-states/maine.php">Maine</a></li>
                    <li><a href="../coverage-by-states/maryland.php">Maryland</a></li>
                    <li><a href="../coverage-by-states/massachusetts.php">Massachusetts</a></li>
                    <li><a href="../coverage-by-states/michigan.php">Michigan</a></li>
                    <li><a href="../coverage-by-states/minnesota.php">Minnesota</a></li>
                    <li><a href="../coverage-by-states/mississippi.php">Mississippi</a></li>
                    <li><a href="../coverage-by-states/missouri.php">Missouri</a></li>
                    <li><a href="../coverage-by-states/montana.php">Montana</a></li>
                    <li><a href="../coverage-by-states/nebraska.php">Nebraska</a></li>
                    <li><a href="../coverage-by-states/nevada.php">Nevada</a></li>
                    <li><a href="../coverage-by-states/new-hampshire.php">New Hampshire</a></li>
                    <li><a href="../coverage-by-states/new-jersey.php">New Jersey</a></li>
                    <li><a href="../coverage-by-states/new-mexico.php">New Mexico</a></li>
                    <li><a href="../coverage-by-states/new-york.php">New York</a></li>
                    <li><a href="../coverage-by-states/north-carolina.php">North Carolina</a></li>
                    <li><a href="../coverage-by-states/north-dakota.php">North Dakota</a></li>
                </ul>
            </div>

            <div class="small-6 medium-4 large-4 columns">
                <ul>
                    <li><a href="../coverage-by-states/ohio.php">Ohio</a></li>
                    <li><a href="../coverage-by-states/oklahoma.php">Oklahoma</a></li>
                    <li><a href="../coverage-by-states/oregon.php">Oregon</a></li>
                    <li><a href="../coverage-by-states/pennsylvania.php">Pennsylvania</a></li>
                    <li><a href="../coverage-by-states/rhode-island.php">Rhode Island</a></li>
                    <li><a href="../coverage-by-states/south-carolina.php">South Carolina</a></li>
                    <li><a href="../coverage-by-states/south-dakota.php">South Dakota</a></li>
                    <li><a href="../coverage-by-states/tennessee.php">Tennessee</a></li>
                    <li><a href="../coverage-by-states/texas.php">Texas</a></li>
                    <li><a href="../coverage-by-states/utah.php">Utah</a></li>
                    <li><a href="../coverage-by-states/vermont.php">Vermont</a></li>
                    <li><a href="../coverage-by-states/virginia.php">Virginia</a></li>
                    <li><a href="../coverage-by-states/washington.php">Washington</a></li>
                    <li><a href="../coverage-by-states/west-virginia.php">West Virginia</a></li>
                    <li><a href="../coverage-by-states/wisconsin.php">Wisconsin</a></li>
                    <li><a href="../coverage-by-states/wyoming.php">Wyoming</a></li>
                </ul>
            </div>
        </div>
    </div>

    </div>
</div>



<!--<div class="states-container">
    <div class="row container">
        <div class="small-12 columns">
            <h3 class="body-content-header md-padding text-center">Health Insurance Coverage by State</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <ul>
                <li><a href="../coverage-by-states/alabama.php">Alabama</a></li>
                <li><a href="../coverage-by-states/alaska.php">Alaska</a></li>
                <li><a href="../coverage-by-states/arizona.php">Arizona</a></li>
                <li><a href="../coverage-by-states/arkansas.php">Arkansas</a></li>
                <li><a href="../coverage-by-states/california.php">California</a></li>
                <li><a href="../coverage-by-states/colorado.php">Colorado</a></li>
                <li><a href="../coverage-by-states/connecticut.php">Connecticut</a></li>
                <li><a href="../coverage-by-states/delaware.php">Delaware</a></li>
                <li><a href="../coverage-by-states/florida.php">Florida</a></li>
                <li><a href="../coverage-by-states/georgia.php">Georgia</a></li>
                <li><a href="../coverage-by-states/hawaii.php">Hawaii</a></li>
                <li><a href="../coverage-by-states/idaho.php">Idaho</a></li>
                <li><a href="../coverage-by-states/illinois.php">Illinois</a></li>
                <li><a href="../coverage-by-states/indiana.php">Indiana</a></li>
                <li><a href="../coverage-by-states/iowa.php">Iowa</a></li>
                <li><a href="../coverage-by-states/kansas.php">Kansas</a></li>
                <li><a href="../coverage-by-states/kentucky.php">Kentucky</a></li>
            </ul>
        </div>
        <div class="small-4 columns">
            <ul>
                <li><a href="../coverage-by-states/louisiana.php">Louisiana</a></li>
                <li><a href="../coverage-by-states/maine.php">Maine</a></li>
                <li><a href="../coverage-by-states/maryland.php">Maryland</a></li>
                <li><a href="../coverage-by-states/massachusetts.php">Massachusetts</a></li>
                <li><a href="../coverage-by-states/michigan.php">Michigan</a></li>
                <li><a href="../coverage-by-states/minnesota.php">Minnesota</a></li>
                <li><a href="../coverage-by-states/mississippi.php">Mississippi</a></li>
                <li><a href="../coverage-by-states/missouri.php">Missouri</a></li>
                <li><a href="../coverage-by-states/montana.php">Montana</a></li>
                <li><a href="../coverage-by-states/nebraska.php">Nebraska</a></li>
                <li><a href="../coverage-by-states/nevada.php">Nevada</a></li>
                <li><a href="../coverage-by-states/new-hampshire.php">New Hampshire</a></li>
                <li><a href="../coverage-by-states/new-jersey.php">New Jersey</a></li>
                <li><a href="../coverage-by-states/new-mexico.php">New Mexico</a></li>
                <li><a href="../coverage-by-states/new-york.php">New York</a></li>
                <li><a href="../coverage-by-states/north-carolina.php">North Carolina</a></li>
                <li><a href="../coverage-by-states/north-dakota.php">North Dakota</a></li>
            </ul>
        </div>
        <div class="small-4 columns">
            <ul>
                <li><a href="../coverage-by-states/ohio.php">Ohio</a></li>
                <li><a href="../coverage-by-states/oklahoma.php">Oklahoma</a></li>
                <li><a href="../coverage-by-states/oregon.php">Oregon</a></li>
                <li><a href="../coverage-by-states/pennsylvania.php">Pennsylvania</a></li>
                <li><a href="../coverage-by-states/rhode-island.php">Rhode Island</a></li>
                <li><a href="../coverage-by-states/south-carolina.php">South Carolina</a></li>
                <li><a href="../coverage-by-states/south-dakota.php">South Dakota</a></li>
                <li><a href="../coverage-by-states/tennessee.php">Tennessee</a></li>
                <li><a href="../coverage-by-states/texas.php">Texas</a></li>
                <li><a href="../coverage-by-states/utah.php">Utah</a></li>
                <li><a href="../coverage-by-states/vermont.php">Vermont</a></li>
                <li><a href="../coverage-by-states/virginia.php">Virginia</a></li>
                <li><a href="../coverage-by-states/washington.php">Washington</a></li>
                <li><a href="../coverage-by-states/west-virginia.php">West Virginia</a></li>
                <li><a href="../coverage-by-states/wisconsin.php">Wisconsin</a></li>
                <li><a href="../coverage-by-states/wyoming.php">Wyoming</a></li>
            </ul>
        </div>
    </div>
</div>-->











