<div class="thank-you">
    <div class="row">
        <div class="small-12 columns text-center">
            <p class="thank-you-header">Thank you for filling out our form</p>
            <p class="thank-you-subheader">One of our licensed agents is reviewing the info and will be getting in touch with you shortly. Have a great day.</p>
            <h3 class="thank-you-emphasis">Rather not wait? Call (855) 565-6231 to speak with an agent immediately!</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            {{> media-alpha-listings}}
        </div>
    </div>
</div>