div.thank-you {

  @include breakpoint(small) {
    padding: rem-calc(15);
  }
  @include breakpoint(small) {
    padding: rem-calc(30);
  }

  .thank-you-header {
    color: darken($primary-color, 15);
    @include breakpoint(small) {
      font-size: 1.8em;
      line-height: rem-calc(32);
    }
    @include breakpoint(medium) {
      font-size: 2em;
      line-height: rem-calc(32);
    }
  }

  .thank-you-subheader {
    @include breakpoint(small) {
      font-size: 1em;
    }
  }
}