{{> includes-top}}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company}} - {{description}} - <?php echo $aff_ref; ?></title>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <!--<link rel="stylesheet" href="../../assets/css/foundation-icons.css"/>-->

    <link rel='shortcut icon' href='../../assets/img/favicon.ico' type='image/x-icon'/>

    <script>
        (function (d) {
            var config = {
                        kitId: 'dig3ywx',
                        scriptTimeout: 3000,
                        async: true
                    },
                    h = d.documentElement, t = setTimeout(function () {
                        h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                    }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded")return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {
                }
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>


    <!--    <script src="https://use.typekit.net/dig3ywx.js"></script>
        <script>try {
            Typekit.load({async: true});
        } catch (e) {
        }</script>-->
</head>
<body>
{{> body}}
</body>
</html>