<!-- top border -->
<wrapper>
    <row class="collapse top-border">
        <columns small="12"></columns>
    </row>
</wrapper>

<!-- spacer -->
<spacer size="15"></spacer>

<row class="header">
    <columns small="6">
        <img class="logo" src="http://www.medigapquote.org/email/v1/assets/img/logo-150.png" alt="logo medigapquote">
    </columns>
    <columns small="6">
        <p class="online-version-link"><a class="" href="#">Click here</a> to view online version.</p>
    </columns>
</row>


<spacer size="15"></spacer>