<!--<spacer size="40"></spacer>-->

<!--<row>
    <columns small="4">
        <img class="float-left" src="http://www.medigapquote.org/email/v1/assets/img/block-1.jpg" alt="medicare-1">
    </columns>
    <columns small="8" class="medicare-block-description">
        <h5 class="float-left medicare-block-title">Medicare Supplement Plans</h5>
        <p class="float-left medicare-block-info">Help pay for “gaps” in Original Medicare. Include minimal standard coverages. Offer different enhanced coverages. Approved by each state they are offered.</p>
        <p class="float-left medicare-block-link">Learn More</p>
    </columns>
</row>-->
<!--<spacer size="10"></spacer>-->
<!--<row>
    <columns small="4">
        <img class="float-left" src="http://www.medigapquote.org/email/v1/assets/img/block-2.jpg" alt="medicare-2">
    </columns>
    <columns small="8" class="medicare-block-description">
        <h5 class="float-left medicare-block-title">Medicare Advantage Plans</h5>
        <p class="float-left medicare-block-info">Work like HMO or PPO health plans. Limit out-of-pocket expenses ever year. Require you to stay in-network for services. Sometimes include drug coverage.</p>
        <p class="float-left medicare-blocko-link">Learn More</p>
    </columns>
</row>-->
<!--<spacer size="10"></spacer>-->
<!--<row>
    <columns small="4">
        <img class="float-left" src="http://www.medigapquote.org/email/v1/assets/img/block-3.jpg" alt="medicare-3">
    </columns>
    <columns small="8" class="medicare-block-description">
        <h5 class="float-left medicare-block-title">Prescription Drug Plans</h5>
        <p class="float-left medicare-block-info">Have a Formulary or List of Covered Drugs. Only Formulary drugs count as out-of-pocket. Include tree levels of covered expenses. Sometimes included in Medicare Advantage.</p>
        <p class="float-left medicare-block-link">Learn More</p>
    </columns>
</row>-->

<!--
<spacer size="20"></spacer>-->
